{% load static i18n %}
{% load course_flow_templatetags %}

<script nonce="{{ request.csp_nonce }}">

  COURSEFLOW_APP.path = {
    {% comment %}
    LEGACY
    {% endcomment %}
    post_paths: {

      // workflow
      get_possible_linked_workflows:
        "{% url 'json_api:json-api-post-get-possible-linked-workflows' %}",
      get_possible_added_workflows:
        "{% url 'json_api:json-api-post-get-possible-added-workflows' %}",
      get_workflow_context:
        "{% url 'json_api:json-api-post-get-workflow-context' %}",
      set_linked_workflow: "{% url 'json_api:json-api-post-set-linked-workflow' %}",
      duplicate_workflow_ajax: "{% url 'json_api:json-api-post-duplicate-workflow' %}",
      get_workflow_data: "{% url 'json_api:json-api-post-get-workflow-data' %}",
      get_workflow_parent_data: "{% url 'json_api:json-api-post-get-workflow-parent-data' %}",
      get_workflow_child_data: "{% url 'json_api:json-api-post-get-workflow-child-data' %}",

      get_parent_workflow_info: "{% url 'json_api:json-api-post-get-parent-workflow-info' %}",
      get_workflows_for_project: "{% url 'json_api:json-api-post-get-workflows-for-project' %}",

      // project
      get_target_projects:
        "{% url 'json_api:json-api-post-get-target-projects' %}",
      update_value: "{% url 'json_api:json-api-post-update-value' %}", // ??
      duplicate_project_ajax: "{% url 'json_api:json-api-post-duplicate-project' %}",

      // node
      new_node: "{% url 'json_api:json-api-post-new-node' %}",

      // outcome
      new_outcome: "{% url 'json_api:json-api-post-new-outcome-for-workflow' %}",

      // strategy
      add_strategy: "{% url 'json_api:json-api-post-add-strategy' %}",
      duplicate_strategy_ajax: "{% url 'json_api:json-api-post-duplicate-strategy' %}",
      toggle_strategy: "{% url 'json_api:json-api-post-toggle-strategy' %}",

      new_node_link: "{% url 'json_api:json-api-post-new-node-link' %}",

      delete_self: "{% url 'json_api:json-api-post-delete-self' %}", // ??
      restore_self: "{% url 'json_api:json-api-post-restore-self' %}", // ??
      delete_self_soft: "{% url 'json_api:json-api-post-delete-self-soft' %}", // ??
      duplicate_self: "{% url 'json_api:json-api-post-duplicate-self' %}", // ??

      insert_sibling: "{% url 'json_api:json-api-post-insert-sibling' %}", // ??
      insert_child: "{% url 'json_api:json-api-post-insert-child' %}", // ??
      inserted_at: "{% url 'json_api:json-api-post-inserted-at' %}", // ??

      update_outcomehorizontallink_degree:
        "{% url 'json_api:json-api-post-update-outcomehorizontallink-degree' %}",
      update_outcomenode_degree:
        "{% url 'json_api:json-api-post-update-outcomenode-degree' %}",

      get_project_data: "{% url 'json_api:json-api-post-get-project-data' %}",
      get_users_for_object: "{% url 'json_api:json-api-post-get-users-for-object' %}",

      set_permission: "{% url 'json_api:json-api-post-set-permission' %}",
      add_terminology: "{% url 'json_api:json-api-post-add-object-set' %}",
      update_object_set: "{% url 'json_api:json-api-post-update-object-set' %}",

      // export / import
      get_export: "{% url 'json_api:json-api-post-get-export' %}",
      import_data: "{% url 'json_api:json-api-post-import-data' %}",
    },
    get_paths: {
      get_disciplines: "{% url 'course_flow:get-disciplines' %}",
      import: "{% url 'course_flow:import' %}",
      get_public_workflow_data:
        "{% url 'json_api:json-api-get-public-workflow-data' pk='0' %}",
      get_public_workflow_parent_data:
        "{% url 'json_api:json-api-get-public-workflow-parent-data' pk='0' %}",
      get_public_workflow_child_data:
        "{% url 'json_api:json-api-get-public-workflow-child-data' pk='0' %}",
      get_public_parent_workflow_info:
        "{% url 'json_api:json-api-get-public-parent-workflow-info' pk='0' %}",
    },
    create_path: {
      activity: "{% url 'course_flow:activity-create' projectPk='0' %}",
      course: "{% url 'course_flow:course-create' projectPk='0' %}",
      program: "{% url 'course_flow:program-create' projectPk='0' %}",
      activity_strategy: "{% url 'course_flow:activity-strategy-create' %}",
      course_strategy: "{% url 'course_flow:course-strategy-create' %}",
      project: "https://legacy-prpject-create-url",
    },
    update_path: {
      activity: "{% url 'course_flow:workflow-update' pk='0'%}",
      course: "{% url 'course_flow:workflow-update' pk='0'%}",
      program: "{% url 'course_flow:workflow-update' pk='0'%}",
      workflow: "{% url 'course_flow:workflow-update' pk='0'%}",
      project: "{% url 'course_flow:project-update' pk='0'%}",
    },
    public_update_path: {
      activity: "{% url 'course_flow:workflow-public' pk='0'%}",
      course: "{% url 'course_flow:workflow-public' pk='0'%}",
      program: "{% url 'course_flow:workflow-public' pk='0'%}",
      workflow: "{% url 'course_flow:workflow-public' pk='0'%}"
    },

    logout_path: "{% url 'course_flow:logout' %}",

    {% comment %}
    SORTED
    {% endcomment %}
    html: {
      library: {
        home: "{% url 'course_flow:home' %}",
        explore: "{% url 'course_flow:explore' %}",
        library: "{% url 'course_flow:library' %}",
        favourites: "{% url 'course_flow:favourites' %}",
      },
    },
    json_api: {
      library: {
        home: "{% url 'json_api:page--home' %}",
        explore: "{% url 'json_api:page--explore' %}",
        library__objects_search: "{% url 'json_api:library--library--objects_search--post' %}",
        library__favourites__projects: "{% url 'json_api:library--favourites--projects--get' %}",
      },
      project: {
        create: "{% url 'json_api:project--create--post' %}"
      },
      user: {
        list: "{% url 'json_api:user--list--post' %}",
        profile_settings__update: "{% url 'json_api:user--profile-settings--update--post' %}",
        notification_settings__update: "{% url 'json_api:user--notification-settings--update--post' %}",
        favourite_toggle: "{% url 'json_api:favourite--toggle--post' %}", // ??
      },
      notification: {
        list: "{% url 'json_api:notification--list--get' %}",
        delete: "{% url 'json_api:notification--delete--post' %}",
        mark_all_as_read: "{% url 'json_api:notifications--mark-all-as-read--post' %}",
        select: "{% url 'json_api:notifications--select--post' %}", // not used?
      },
      comment: {
        list_by_object: "{% url 'json_api:comment--list-by-object--post' %}", // does this go in comment or object
        create: "{% url 'json_api:comment--create--post' %}",
        delete: "{% url 'json_api:comment--delete--post' %}",
        delete_all: "{% url 'json_api:comment--delete-all--post' %}",
      }
    },
    static_assets: {
      icon: "{% static 'course_flow/img/images_svg/' %}"
    }
  }

  // common strings used across the app
  COURSEFLOW_APP.strings = {
    confirm_email_updates:
      "{% trans 'Hi there! Would you like to receive emails about updates to  CourseFlow? You can always change your mind by viewing your profile.' %}",
    unsupported_device:
      "{% trans 'Your device is not supported. Please use a laptop or desktop for the best experience.' %}",
    product_updates_agree: "{% trans 'I want to receive product updates emails' %}",
    notifications: "{% trans 'Notifications' %}",
    home: "{% trans 'Home' %}",
    my_library: "{% trans 'My library' %}",
    explore: "{% trans 'Explore' %}",
    my_classrooms: "{% trans 'My classrooms' %}",
    favourites: "{% trans 'Favourites' %}",
    see_all: "{% trans 'See all' %}",
    view_all: "{% trans 'View all' %}",
    help_support: "{% trans 'Help and Support' %}",
    cancel: "{% trans 'Cancel' %}",
    password_reset: "{% trans 'Password reset' %}",
    password_reset_msg: "{% trans 'By choosing to reset your password, you will be directed to the SALTISE lobby and will have to navigate to the myDALITE application to set a new password.' %}",
    notification_settings: "{% trans 'Notification settings' %}",
    sign_out: "{% trans 'Sign out' %}",
    profile: "{% trans 'Profile' %}",
    project: "{% trans 'Project' %}",
    program: "{% trans 'Program' %}",
    course: "{% trans 'Course' %}",
    activity: "{% trans 'Activity' %}",
    delete: "{% trans 'Delete' %}",
    show_notifications_menu: "{% trans 'Show notifications menu' %}",
    notification_options: "{% trans 'Notification options' %}",
    mark_as_read: "{% trans 'Mark as read' %}",
    mark_all_as_read: "{% trans 'Mark all as read' %}",
    no_notifications_yet: "{% trans 'You have no notifications yet.' %}",
    profile_settings: "{% trans 'Profile settings' %}",
    update_profile: "{% trans 'Update profile' %}",
    update_profile_success: "{% trans 'User details updated!' %}",
  }
</script>
