{% load i18n %}
{% load course_flow_templatetags %}
<div class="main-block">
  <div data-component="topbar"></div>

  {% comment %}
    TODO: Convert to React, making sure not to break createPortal calls
  {% endcomment %}
  <div class="topnav hide-print">
    <div class="titlebar">
      <div class="title"></div>
    </div>
    <div id="update-notifications"></div>
    <div class="menubar hidden">
      <div id="floatbar" class="floatbar">
        <div id="visible-icons"></div>
        <div id="overflow-options">
          <span class="hover-shade green material-symbols-rounded">more_horiz</span>
          <div id="overflow-links" class="create-dropdown"></div>
        </div>
      </div>
      <div id="userbar" class="floatbar"></div>
      <div id="viewbar" class="floatbar"></div>
    </div>
  </div>

  {% comment %}
    TODO: Should be cleaned up as #container is the main element jQuery
    is appending elements into. Ideally all of this should be handled in
    the base layout template (or completely by React once we end up with
    a single script rendering the whole application)
  {% endcomment %}
  <div class="right-panel-wrapper">
    <div id="container" class="body-wrapper"></div>
    <div id="sidebar-container"></div>
  </div>
</div>
