<script nonce="{{ request.csp_nonce }}">

  const DTOcontextData = {{ contextData | safe }};
  let switch_renderer;

  switch (path_id) {
    case 'projectComparison': {

      const contextData = DTOcontextData
      window.create_path_this_project = {
        activity: "{% url 'course_flow:activity-create' projectPk=object.pk %}",
        course: "{% url 'course_flow:course-create' projectPk=object.pk %}",
        program: "{% url 'course_flow:program-create' projectPk=object.pk %}"
      }

      /**
       * see class ProjectRenderer for DTO shape
       */
      switch_renderer = new window.library_renderers.ProjectRenderer(contextData);

      window.addEventListener("load", function () {
        makeActiveSidebar("#project" + contextData.project_data.id);
      });
    }
      break;

    case 'projectDetail': {

      //  @todo these don't seem to be used
      // window.workflow_paths = {
      //  activity: '{% url "course_flow:workflow-update" pk=object.pk %}',
      //  course: '{% url "course_flow:workflow-update" pk=object.pk %}',
      //  program: '{% url "course_flow:workflow-update" pk=object.pk %}',
      //   workflow: '{% url "course_flow:workflow-update" pk=object.pk %}',
      // }

      /**
       * @todo for myColour, changeFieldID decide whether these should go in
       * the DTO from django, or in a subcomponent, if mot from django, define as explicit props
       */
      const contextData = {
        ...DTOcontextData,
        myColour: 'hsl(' + (((DTOcontextData.user_id * 5) % 360) + 1) + ',50%,50%)',
        changeFieldID: Math.floor(Math.random() * 10000)
      }
      switch_renderer = new window.renderers.ComparisonRenderer(contextData);
    }
      break;

    case 'favorites': {
      switch_renderer = new library_renderers.FavouritesRenderer();

      window.addEventListener("load", function () {
        makeActiveSidebar("#my-favourites");
      });
    }
      break;

    case 'library': {// const {user_id} = window.COURSEFLOW_APP.home
      // if this complains aboutuser_id add it to
      // contextData and pass that to LibraryRenderer
      switch_renderer = new window.library_renderers.LibraryRenderer()
      window.addEventListener('load', () => {
        makeActiveSidebar('#panel-my-library')
      })
    }
      break;

    case 'home': {
      switch_renderer = new window.library_renderers.HomeRenderer(
        window.window.COURSEFLOW_APP.home.is_teacher
      )
      window.addEventListener('load', () => {
        makeActiveSidebar('#panel-home')
      })
    }
      break;


    case 'explore': {
    }
      break;
    case 'workflowUpdate': {
    }
      break;
    case 'myLiveProjects': {
    }
      break;
    case 'liveProjects': {
    }
      break;
    case 'liveAssignment': {
    }
      break;
  }


  window.addEventListener("load", function () {
    switch_renderer.render($("#container"));
    $(document).ajaxError(window.renderers.fail_function);
  });


</script>
