<script nonce="{{ request.csp_nonce }}">
  COURSEFLOW_APP.path_id = "{{ path_id }}";
  const DTOContextData = {{ contextData | safe }};
  let localContextData
  let makeActiveSidebarID = null

  switch (COURSEFLOW_APP.path_id) {
    case 'projectDetail': {
      COURSEFLOW_APP.contextData = DTOContextData
      {% if object %}
        window.create_path_this_project = {
          activity: "{% url 'course_flow:activity-create' projectPk=object.pk %}",
          course: "{% url 'course_flow:course-create' projectPk=object.pk %}",
          program: "{% url 'course_flow:program-create' projectPk=object.pk %}"
        }
      {% endif %}
      makeActiveSidebarID = "#project" + localContextData.project_data.id
      break;
    }
    case 'favorites': {
      COURSEFLOW_APP.contextData = DTOContextData
      makeActiveSidebarID = "#my-favourites"
      break;
    }
    case 'library': {
      COURSEFLOW_APP.contextData = DTOContextData
      makeActiveSidebarID = '#panel-my-library'
      break;
    }
    case 'home': {
      COURSEFLOW_APP.contextData = DTOContextData
      makeActiveSidebarID = '#panel-home'
      break;
    }
    case 'explore': {
      COURSEFLOW_APP.contextData = DTOContextData
      makeActiveSidebarID = "#panel-explore"
      break;
    }

    /*******************************************************
     * REDUX STUFF
     *******************************************************/
    case 'projectComparison': {
      //  @todo these don't seem to be used
      {% if object %}
      // window.workflow_paths = {
      //  activity: '{% url "course_flow:workflow-update" pk=object.pk %}',
      //  course: '{% url "course_flow:workflow-update" pk=object.pk %}',
      //  program: '{% url "course_flow:workflow-update" pk=object.pk %}',
      //   workflow: '{% url "course_flow:workflow-update" pk=object.pk %}',
      // }
      {% endif %}
      COURSEFLOW_APP.contextData = DTOContextData
      break;
    }
    case "my_live_projects": {
      COURSEFLOW_APP.contextData = DTOContextData
      makeActiveSidebarID = "#panel-my-live-projects"
      break;
    }
    case "workflowDetailView": {
      COURSEFLOW_APP.contextData = {
        ...DTOContextData,
        myColour:
          'hsl(' + (((DTOContextData.user_id * 5) % 360) + 1) + ',50%,50%)',
        changeFieldID: Math.floor(Math.random() * 10000)
      }
      makeActiveSidebarID = '#workflow' + COURSEFLOW_APP.contextData.workflow_model_id
      break;
    }
  }

  window.addEventListener("load", function () {
    $(document).ajaxError(window.fail_function);
    makeActiveSidebarID && makeActiveSidebar(makeActiveSidebarID)
  });
</script>
