{% load static compress %}
<!-- Internal resources -->
<script
  src="{% static 'course_flow/js/other/dist/csrf-setup.min.js' %}"
  defer="true"
  charset="utf-8"
></script>
{#<script#}
{#  id="script-redesign"#}
{#  nonce="{{ request.csp_nonce }}"#}
{#  src="{% static 'course_flow/js/react/dist/react-app-redesign.min.js' %}"#}
{#  defer="true"#}
{#  charset="utf-8"#}
{#></script>#}
<script
  id="script-redesign"
  nonce="{{ request.csp_nonce }}"
  src="{% static 'course_flow/ts_build/courseflow-app.es.js' %}"
  defer="true"
  charset="utf-8"
></script>
<script nonce="{{ request.csp_nonce }}"
        src="{% url 'course_flow:javascript-catalog' %}"
        defer="true"
        charset="utf-8"
></script>

<!-- * CSS -->
{#{% compress css %}#}
{#  <link#}
{#    rel="stylesheet"#}
{#    href="{% static 'course_flow/js/react/dist/course_flow.css' %}"#}
{#  />#}
{#{% endcompress %}#}
<!-- * CSS -->
{% compress css %}
  <link
    rel="stylesheet"
    href="{% static 'course_flow/ts_build/style.css' %}"
  />
{% endcompress %}

