{% extends "course_flow/base.html" %}

{% load static compress i18n %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  {%if title != "" %}
    {% trans title %}
  {% else %}
    {% trans "Untitled" %}
  {% endif %}
  - CourseFlow
{% endblock %}

{% block react_scripts %}
  {% include 'course_flow/base/react_renderer.html' %}
{% endblock %}

{% comment %} why are we outputting the token again? {% endcomment %}
{% csrf_token %}

{% comment %}
this jquery loader pattern was is

workflow_update.html
comparison.html
@todo decide whether to keep it for now

{% endcomment %}
{% block scripts %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}">

    jQuery('<div>', {
      class: 'load-screen'
    }).appendTo("#container");
  </script>

{% endblock %}
