{% extends "course_flow/base.html" %}

{% load static compress i18n %}
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  {% if object.title != "" %}
    {{ object.title }}
  {% else %}
    {% trans "Untitled" %}
  {% endif %}
  - CourseFlow
{% endblock %}

{% block body %}

  
{% endblock %}

{% csrf_token %}

{% block scripts %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}">

    const workflow_paths = {
      activity: '{% url "course_flow:workflow-update" pk=object.pk %}',
      course: '{% url "course_flow:workflow-update" pk=object.pk %}',
      program: '{% url "course_flow:workflow-update" pk=object.pk %}',
      workflow: '{% url "course_flow:workflow-update" pk=object.pk %}',
    }

    

    const public_view = {{public_view|safe}};
    const user_permission =
    {{user_permission|safe}}
    const user_role = {{user_role|safe}}

      jQuery('<div>', {
        class: 'load-screen'
      }).appendTo("#container");
    


    const user_id = {{ user.id |default:0}};
    const workflow_model_id = {{ object.id }};
    const workflow_type = "{{ object.type }}";
    const user_name = "{{ user.username |default:""}}";

    workflow_data_package =
    {{data_package|safe}}

    var workflow_renderer;
    const myColour = 'hsl(' + (((user_id * 5) % 360) + 1) + ',50%,50%)';

    const changeFieldID = Math.floor(Math.random() * 10000);

    window.addEventListener("load", function () {
      workflow_renderer = new renderers.WorkflowRenderer(workflow_model_id, workflow_data_package);
      workflow_renderer.connect();
      $(document).ajaxError(renderers.fail_function);
    });
  </script>

{% endblock %}
