{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block header %}{% endblock %}
<!-- -->
{% block body %}
<svg id="container" width="1000" height="1000">
  <defs>
    <filter id="selection-shadow">
      <feDropShadow dx="1" dy="1" stdDeviation="2" />
    </filter>
  </defs>
</svg>
<div id="node-form-container"></div>
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %}
<script nonce="{{ request.csp_nonce }}">



          window.addEventListener("load", function() {

            userFeedback.injectDialog(
              "{% trans 'Let us know how we can improve your experience!' %}",
              "{% static 'course_flow/brand/SCIVERO-LOGO-DARK.png' %}",
              "{% trans 'Thanks for your feedback!' %}",
              "{% trans 'Sorry, please try again later!' %}",
              "{% url 'post-feedback' %}"
            );

            root.injectDialogForm(
              "{% url 'course_flow:dialog-form-create' %}",
              "{% url 'course_flow:dialog-form-update' %}",
              "{% url 'course_flow:dialog-form-delete' %}",
              "{% url 'course_flow:dialog-form-remove' %}",
              "{% url 'course_flow:home' %}",
              "{% trans 'posting worked' %}",
              "{% trans 'posting didnt work' %}"
            );

            let activityJson = null;

            const svgParent = d3.select("svg").style("margin-top", "100px");

            const popularNodeJson = {{ default_strategy_json|safe }};

            const innerWidth = $(window).innerWidth();

            svgParent.attr("width", innerWidth);

            const nodeHeight = innerWidth/10;
            const nodeWidth = innerWidth/4;
            const nodeSpacingVertical = 50.0;
            const nodeSpacingHorizontal = 30.0;
            const nodeTotalSpacingVertical = nodeHeight + nodeSpacingVertical;
            const nodeTotalSpacingHorizontal = nodeWidth + nodeSpacingHorizontal;

            const nodeMidpointVertical = nodeHeight/2.0;
            const nodeMidpointHorizontal = nodeWidth/2.0;

            const strategyPadding = 30.0;
            const strategyInfoHeight = 200.0;
            const strategyVerticalSpacing = 20.0;

            const activityInfoHeight = 200.0;

            const strategyWidth = 2*strategyPadding+nodeTotalSpacingHorizontal*3-nodeSpacingHorizontal;

            const classificationLabels = ["Out of Class","In Class (Instructor)","In Class (Strudents)"];


            function renderNodeBoard(parent, jsonData){

            const boardNodes = parent.selectAll('.default-strategy').data(jsonData).enter()
                              .append("svg").attr("class",'default-strategy')
                              .attr("x", `${nodeTotalSpacingHorizontal*3+50}`)
                              .attr("y", (d,i) => `${nodeTotalSpacingVertical/3*i+50}`)
                              .attr("width", `${nodeWidth/2}`).attr("height", `${nodeHeight/3}`);

            boardNodes.append("rect").attr('x', 0).attr('y', 0).attr("rx", "6")
                .attr("width", `${nodeWidth/2}`).attr("height", `${nodeHeight/3}`)
                .attr("fill", "rgb(142,156,167)").style('pointer-events', 'none');

                boardNodes
                  .append('text')
                  .style('font-family', 'Roboto')
                  .attr('class', 'node-title')
                  .attr('x', "15")
                  .attr('y', `${nodeHeight/10}`)
                  .attr('dy', 6)
                  .style('font-size', nodeWidth/30)
                  .style('fill', "white")
                  .style('pointer-events', 'none')
                  .text(d => d.title);

                  boardNodes
                    .append('text')
                    .style('font-family', 'Roboto')
                    .attr('class','node-stats')
                    .attr('x', "15")
                    .attr('y', `${nodeHeight/4.5}`)
                    .attr('dy', 6)
                    .style('font-size', nodeWidth/45)
                    .style('fill', 'white')
                    .style('pointer-events', 'none')
                    .text((d,i) => `${d.title}s created: ${d.num_children}`);

                    const dragDropIcons = boardNodes.append("g")
                      .attr("class", "drag-icon")
                      .append('image')
                      .attr('x', `${(nodeWidth-30)/2}`)
                      .attr('y', `${10/2}`)
                      .attr("width", `${20/2}`)
                      .attr("height", `${20/2}`)
                      .attr("xlink:href","{% static 'course_flow/img/reorder-option-blue.svg' %}");


              function makeDragDropBoardNode() {
                let widget = undefined;
                let color = undefined;
                let initX = undefined;
                let initY = undefined;

                let drags = d3
                  .drag()
                  .on("start", function() {
                    widget = d3.select(this);
                    dragDropIcons.style("cursor","grabbing");
                    initX = +widget.attr("x");
                    initY = +widget.attr("y");
                    color = widget.select("rect").attr("fill");
                    strategy = d3.select(".activity");
                    widget.select("rect").attr("filter","url(#selection-shadow)")
                          .attr('x', 3).attr('y', 2)
                          .attr("width", `${(nodeWidth-10)/2}`).attr("height", `${(nodeHeight-8)/3}`);
                    swapDiv(this);
                  })
                  .on("drag", function() {
                    widget.attr("x", d3.event.x-(nodeWidth-30)/2).attr("y", d3.event.y-10/2);

                        if((+strategy.attr("x")+(+strategy.attr("width")))>(+widget.attr("x")+(+widget.attr("width")))){
                            widget.select("rect").attr("fill", "#1976BC");
                        }else{
                          widget.select("rect").attr("fill", color);
                        }

                  })
                  .on("end", function() {

                        if((+strategy.attr("x")+(+strategy.attr("width")))>(+widget.attr("x")+(+widget.attr("width")))){

                              addStrategy(widget.node().__data__.id);
                              widget.node().__data__.num_children++;
                              widget.select(".node-stats").text(d => `${d.title}s created: ${d.num_children}`);

                        }


                    dragDropIcons.style("cursor","grab");
                    widget.select("rect").attr("fill", color).attr("y", 0).attr("x",0)
                    .attr("width", `${nodeWidth/2}`).attr("height", `${nodeHeight/3}`).attr("filter", "");
                    widget.attr("x", initX).attr("y", initY).style("cursor","default");

                    widget = undefined;
                  });

                drags(boardNodes);
              }
              makeDragDropBoardNode();

          }


          let repositionBoard = function(){
            let displacement = $(window).scrollTop();
            d3.selectAll('.default-strategy').attr("y", (d,i) => `${nodeTotalSpacingVertical/3*i+50+displacement}`);
          }

            function swapDiv(referenceNode){
                referenceNode.parentNode.insertBefore(referenceNode, referenceNode.parentNode.lastChild.nextSibling);
            }
            function fetchThenRenderActivity(){
              d3.json("{% url 'course_flow:activity-detail' pk=object.pk %}").then(function (json) {
                activityJson = json;
                renderActivity(activityJson, svgParent);
                svgParent.attr("height",Math.max(d3.select(".activity").node().getBBox().height+20,$(window).innerHeight()-100));
              });
            }

            fetchThenRenderActivity();

            renderNodeBoard(svgParent, popularNodeJson);

            window.addEventListener("scroll", repositionBoard);

            function renderActivity(activityData, parent){

                d3.selectAll(".activity").remove();

                const svgActivity = parent
                                    .append("svg").attr("x","0").attr("y","0")
                                    .attr("width", `${strategyWidth}`)
                                    .attr("class","activity");

                svgActivity
                  .append('text')
                  .attr('id','activity-title')
                  .style('font-family', 'Roboto')
                  .attr('x', "15")
                  .attr('y', "20")
                  .attr('dy', 6)
                  .style('font-size', 18)
                  .style('fill', "white")
                  .style('pointer-events', 'none')
                  .text(activityData.title);

                svgActivity
                  .append('text')
                  .style('font-family', 'Roboto')
                  .attr('id','activity-author')
                  .attr('x', "15")
                  .attr('y', "40")
                  .attr('dy', 6)
                  .style('font-size', 12)
                  .style('fill', 'white')
                  .style('pointer-events', 'none')
                  .text("created by "+activityData.author);

                svgActivity
                  .append('text')
                  .style('font-family', 'Roboto')
                  .attr('id','activity-description')
                  .attr('x', "15")
                  .attr('y', "70")
                  .attr('dy', 6)
                  .style('font-size', 14)
                  .style('fill', "white")
                  .style('pointer-events', 'none')
                  .text(activityData.description);

                svgActivity.append("g")
                  .attr("class", "action-icon")
                  .attr("id", "delete-activity")
                  .on("click", function(d,i){
                      root.currentComponentInstance.setState({
                        object: activityJson,
                        objectType: "activity",
                        isActivity: true,
                        isDeleteForm: true,
                        isOwnView: true
                      });
                      root.currentComponentInstance.dlg.MDComponent.show();
                  })
                  .append('image')
                  .attr('x', `${strategyWidth-40}`)
                  .attr('y', `${60}`)
                  .attr("width", `${31}`)
                  .attr("height", `${31}`)
                  .attr("xlink:href","{% static 'course_flow/img/rubbish-bin-delete-button.svg' %}");

                svgActivity.append("g")
                  .attr("class", "action-icon")
                  .attr("id", "update-activity")
                  .on("click", function(d,i){
                      root.currentComponentInstance.setState({
                        object: activityJson,
                        objectType: "activity",
                        isActivity: true,
                        isUpdateForm: true
                      });
                      root.currentComponentInstance.dlg.MDComponent.show();
                  })
                  .append('image')
                  .attr('x', `${strategyWidth-40}`)
                  .attr('y', `${15}`)
                  .attr("width", `${31}`)
                  .attr("height", `${31}`)
                  .attr("xlink:href","{% static 'course_flow/img/pencil.svg' %}");

                svgActivity.append("g")
                  .attr("class", "action-icon")
                  .attr("id", "add-strategy")
                  .on("click", function(d,i){
                      root.currentComponentInstance.setState({
                        isStrategy: true,
                        objectType: "strategy",
                        parentID: activityJson.id
                      });
                      root.currentComponentInstance.dlg.MDComponent.show();
                  })
                  .append('image')
                  .attr('x', `${strategyWidth-40}`)
                  .attr('y', `${100}`)
                  .attr("width", `${31}`)
                  .attr("height", `${31}`)
                  .attr("xlink:href","{% static 'course_flow/img/add-square-button.svg' %}");



                  for (let i=0; i<3; i++) {
                    svgActivity
                      .append('text')
                      .style('font-family', 'Roboto')
                      .attr('class','activity-classification')
                      .attr('text-anchor',"middle")
                      .attr('x', `${nodeTotalSpacingHorizontal*i+nodeTotalSpacingHorizontal/2}`)
                      .attr('y', "160")
                      .attr('dy', 6)
                      .style('font-size', 16)
                      .style('fill', "white")
                      .style('pointer-events', 'none')
                      .text(classificationLabels[i]);
                  }


                var runningActivityHeight = activityInfoHeight;

                svgActivity.selectAll('.strategy').remove();


                const strategies = svgActivity.selectAll('.strategy').data(activityData.strategyactivity_set).enter()
                                  .append("svg").attr("class","strategy")
                                  .attr("x", "0")
                                  .attr("height", (d,i)=>`${d.strategy.nodestrategy_set.length*(nodeHeight+nodeSpacingVertical)-nodeSpacingVertical+2*strategyPadding+strategyInfoHeight}`)
                                  .attr("width", `${strategyWidth}`)
                                  .each(function(d,i){

                                      d3.select(this).append("rect").attr('x', 0).attr('y', 0).attr("rx", "6").style('pointer-events', 'none')
                                          .attr("width", `${(nodeWidth+nodeSpacingHorizontal)*3-nodeSpacingHorizontal}`)
                                          .attr("height", `${d.strategy.nodestrategy_set.length*(nodeHeight+nodeSpacingVertical)-nodeSpacingVertical+2*strategyPadding+strategyInfoHeight}`)
                                          .attr("width", `${strategyWidth}`)
                                          .attr("fill", "rgb(65,80,96)");
                                      renderStrategy(d.strategy.nodestrategy_set, d3.select(this));
                                  });

                    for(let i = 0; i<activityData.strategyactivity_set.length; i++){
                      for(let j = 0; j<activityData.strategyactivity_set.length; j++){
                        if(strategies["_groups"][0][j].__data__.rank == i){
                            d3.select(strategies["_groups"][0][j]).attr("y", `${runningActivityHeight}`);
                            runningActivityHeight += +d3.select(strategies["_groups"][0][j]).attr("height")+strategyVerticalSpacing;
                        }
                      }
                    }

                      strategies
                        .append('text')
                        .style('font-family', 'Roboto')
                        .attr('class', 'strategy-title')
                        .attr('x', "15")
                        .attr('y', "20")
                        .attr('dy', 6)
                        .style('font-size', 18)
                        .style('fill', "white")
                        .style('pointer-events', 'none')
                        .text(d => d.strategy.title);

                      strategies
                        .append('text')
                        .style('font-family', 'Roboto')
                        .attr('class', 'strategy-author')
                        .attr('x', "15")
                        .attr('y', "40")
                        .attr('dy', 6)
                        .style('font-size', 12)
                        .style('fill', 'white')
                        .style('pointer-events', 'none')
                        .text(d=> "created by "+d.strategy.author);

                      strategies
                        .append('text')
                        .style('font-family', 'Roboto')
                        .attr('class', 'strategy-description')
                        .attr('x', "15")
                        .attr('y', "70")
                        .attr('dy', 6)
                        .style('font-size', 14)
                        .style('fill', "white")
                        .style('pointer-events', 'none')
                        .text(d => d.strategy.description);

                    strategies.append("g")
                      .attr("class", "action-icon delete-strategy")
                      .on("mousedown", function(d,i){
                          root.currentComponentInstance.setState({
                            object: d3.select(this.parentNode).node().__data__.strategy,
                            objectType: "strategy",
                            isStrategy: true,
                            isDeleteForm: true
                          });
                          root.currentComponentInstance.dlg.MDComponent.show();
                      })
                      .append('image')
                      .attr('x', `${strategyWidth-40}`)
                      .attr('y', `${90}`)
                      .attr("width", `${31}`)
                      .attr("height", `${31}`)
                      .attr("xlink:href","{% static 'course_flow/img/rubbish-bin-delete-button.svg' %}");

                    strategies.append("g")
                      .attr("class", "action-icon update-strategy")
                      .on("mousedown", function(d,i){
                          root.currentComponentInstance.setState({
                            object: d3.select(this.parentNode).node().__data__.strategy,
                            objectType: "strategy",
                            isStrategy: true,
                            isUpdateForm: true
                          });
                          root.currentComponentInstance.dlg.MDComponent.show();
                      })
                      .append('image')
                      .attr('x', `${strategyWidth-40}`)
                      .attr('y', `${45}`)
                      .attr("width", `${31}`)
                      .attr("height", `${31}`)
                      .attr("xlink:href","{% static 'course_flow/img/pencil.svg' %}");

                      strategies.append("g")
                        .attr("class", "action-icon add-node")
                        .on("mousedown", function(d,i){
                            root.currentComponentInstance.setState({
                              objectType: "node",
                              parentID: d3.select(this.parentNode).node().__data__.strategy.id,
                              isNode: true
                            });
                            root.currentComponentInstance.dlg.MDComponent.show();
                        })
                        .append('image')
                        .attr('x', `${strategyWidth-40}`)
                        .attr('y', `${135}`)
                        .attr("width", `${31}`)
                        .attr("height", `${31}`)
                        .attr("xlink:href","{% static 'course_flow/img/add-square-button.svg' %}");

                  const dragDropIcons =  strategies.append("g")
                      .attr("class", "drag-icon")
                      .append('image')
                      .attr('x', `${strategyWidth-30}`)
                      .attr('y', `${10}`)
                      .attr("width", `${20}`)
                      .attr("height", `${20}`)
                      .attr("xlink:href", "{% static 'course_flow/img/reorder-option (1).svg' %}");



                function makeDragDropStrategy() {
                  let widget = undefined;
                  let color = undefined;
                  let widgetData = undefined;
                  let initYAxis = undefined;

                  let drags = d3
                    .drag()
                    .on("start", function() {
                      widget = d3.select(this);
                      d3.selectAll(".strategy").attr("height", 45).attr("y",(d,i)=>d.rank*(45+strategyVerticalSpacing)+activityInfoHeight).select("rect").attr("height", 45);
                      d3.selectAll(".strategy").select(".strategy-author").remove();
                      window.scrollTo(0, 0);
                      widget.select("rect").attr("filter","url(#selection-shadow)")
                            .attr('x', 5).attr('y', 4)
                            .attr("width", +widget.attr("width")-10).attr("height", +widget.attr("height")-8);
                      widgetData = widget.node().__data__;
                      initYAxis = +widget.attr("y");
                      swapDiv(this);
                      dragDropIcons.style("cursor","grabbing");
                    })
                    .on("drag", function() {
                      widget.attr("y", `${Math.max(d3.event.y-15,activityInfoHeight-10)}`);
                      if(widget.attr("y")<initYAxis){
                          strategies.each(function(d,i) { if((d.rank == widgetData.rank-1)&&((+d3.select(this).attr("y")+(+d3.select(this).attr("height"))/2)>=+widget.attr("y"))){
                            [d.rank, widgetData.rank] = [widgetData.rank, d.rank];
                            d3.select(this).attr("y",`${+d3.select(this).attr("y")+(+widget.attr("height"))}`);
                          }});
                      }
                      else if(widget.attr("y")>initYAxis){
                        strategies.each(function(d,i) { if((d.rank == widgetData.rank+1)&&((+d3.select(this).attr("y")+(+d3.select(this).attr("height"))/2)<=(+widget.attr("y")+(+widget.attr("height"))))){
                          [d.rank, widgetData.rank] = [widgetData.rank, d.rank];
                          d3.select(this).attr("y",`${+d3.select(this).attr("y")-(+widget.attr("height"))}`);
                        }});
                      }
                      initYAxis = +widget.attr("y");
                    })
                    .on("end", function() {
                      let yRealignPos = 0;
                      strategies.each(function(d,i) {
                          if(d3.select(this).node().__data__.rank<widgetData.rank){
                             yRealignPos += +d3.select(this).attr("height");
                          }
                      });
                      widget.attr("y", `${yRealignPos}`);
                      widget.select("rect").attr("filter","")
                            .attr('x', 0).attr('y', 0)
                            .attr("width", +widget.attr("width")).attr("height", +widget.attr("height"));
                      dragDropIcons.style("cursor","grab");
                      renderActivity(activityData, svgParent);
                      updateJson();
                      widget = undefined;
                    });

                  drags(strategies);
                }

                makeDragDropStrategy();

            }


            function pathToNextSiblingRect(s, i) {
              path = "M" + (s[i].x.animVal.value+nodeMidpointHorizontal) + "," + (s[i].y.animVal.value+nodeHeight) + "C" + (s[i].x.animVal.value+nodeMidpointHorizontal) + ","
                      + (s[i].y.animVal.value + nodeHeight + s[i+1].y.animVal.value) / 2 + " " + (s[i+1].x.animVal.value+nodeMidpointHorizontal) + "," +  (s[i].y.animVal.value + nodeHeight + s[i+1].y.animVal.value) / 2
                      + " " + (s[i+1].x.animVal.value+nodeMidpointHorizontal) + "," + s[i+1].y.animVal.value;
              return path
            }





            function renderNodeLinks(svg){

                svg.selectAll('path').remove();

                let rects = svg.selectAll('.node')['_groups'][0];

                sortedRects = [rects.length];

                for(let i=0; i<rects.length; i++){
                    for(let j=0; j<rects.length; j++){
                    if(i==rects[j].__data__.rank){
                        sortedRects[i]=rects[j];
                    }
                    else if(rects[j].__data__.rank<0) sortedRects[0]=rects[j];
                    else if(rects[j].__data__.rank>rects.length-1) sortedRects[rects.length-1]=rects[j];
                  }
                }

                for(let i=0; i<rects.length-1; i++){
                    svg.append("path")
                        .style("stroke", "black")
                        .style("stroke-width", 3)
                        .attr('fill', 'none')
                        .attr("d",  pathToNextSiblingRect(sortedRects, i));


                }


            }


            function renderStrategy(nodeStrategySet, svg){


              const nodes = svg.selectAll('.node').data(nodeStrategySet).enter()
                                .append("svg").attr("class","node")
                                .attr("x", (d,i) => `${nodeTotalSpacingHorizontal*d.node.classification+strategyPadding}`)
                                .attr("y", (d,i) => `${nodeTotalSpacingVertical*d.rank+strategyPadding+strategyInfoHeight}`);

              nodes.append("rect").attr('x', 0).attr('y', 0).attr("rx", "6").attr("class","node-rect")
                  .attr("fill","#1976BC").attr("width", `${nodeWidth}`).attr("height", `${nodeHeight}`).style('pointer-events', 'none');

              nodes
                .append('text')
                .style('font-family', 'Roboto')
                .attr('class', 'node-title')
                .attr('x', "15")
                .attr('y', "20")
                .attr('dy', 6)
                .style('font-size', nodeWidth/25)
                .style('fill', "white")
                .style('pointer-events', 'none')
                .text(d => d.node.title);

                nodes
                  .append('text')
                  .style('font-family', 'Roboto')
                  .attr('class', 'node-author')
                  .attr('x', "15")
                  .attr('y', "40")
                  .attr('dy', 6)
                  .style('font-size', 12)
                  .style('fill', 'white')
                  .style('pointer-events', 'none')
                  .text(d=> "created by "+d.node.author);

                  nodes
                    .append('text')
                    .style('font-family', 'Roboto')
                    .attr('class', 'node-description')
                    .attr('x', "15")
                    .attr('y', "0")
                    .attr('dy', 6)
                    .style('font-size', nodeWidth/30)
                    .style('fill', "white")
                    .style('pointer-events', 'none')
                    .text(d => d.node.description)
                    .call(wrap, nodeWidth-60);

  // following function taken from Mike Bostock's 'Wrapping Long Labels'

  function wrap(text, width) {
      text.each(function() {
        var text = d3.select(this),
            words = text.text().split(/\s+/).reverse(),
            word,
            line = [],
            lineNumber = 0,
            lineHeight = 1.5, // ems
            y = text.attr("y")
            x = text.attr("x"),
            dy = parseFloat(text.attr("dy")),
            tspan = text.text(null).append("tspan").attr("x", x).attr("y", y).attr("dy", dy + "em");
        while (word = words.pop()) {
          line.push(word);
          tspan.text(line.join(" "));
          if (tspan.node().getComputedTextLength() > width) {
            line.pop();
            tspan.text(line.join(" "));
            line = [word];
            tspan = text.append("tspan").attr("x", x).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
          }
        }
      });
    }

                  nodes.append("g")
                    .attr("class", "action-icon delete-node")
                    .on("mousedown", function(d,i){
                      root.currentComponentInstance.setState({
                        object: d3.select(this.parentNode).node().__data__.node,
                        objectType: "node",
                        isNode: true,
                        isDeleteForm: true
                      });
                      root.currentComponentInstance.dlg.MDComponent.show();
                    })
                    .append('image')
                    .attr('x', `${nodeWidth-40}`)
                    .attr('y', `${nodeHeight-45}`)
                    .attr("width", `${31}`)
                    .attr("height", `${31}`)
                    .attr("xlink:href","{% static 'course_flow/img/rubbish-bin-delete-button.svg' %}");

                  nodes.append("g")
                    .attr("class", "action-icon update-node")
                    .on("mousedown", function(d,i){
                      root.currentComponentInstance.setState({
                        object: d3.select(this.parentNode).node().__data__.node,
                        objectType: "node",
                        isNode: true,
                        isUpdateForm: true
                      });
                      root.currentComponentInstance.dlg.MDComponent.show();
                    })
                    .append('image')
                    .attr('x', `${nodeWidth-40}`)
                    .attr('y', `${nodeHeight-90}`)
                    .attr("width", `${31}`)
                    .attr("height", `${31}`)
                    .attr("xlink:href","{% static 'course_flow/img/pencil.svg' %}");


                  nodes
                    .append('image')
                    .style('pointer-events', 'none')
                    .attr('x', `${nodeWidth-135}`)
                    .attr('y', `${10}`)
                    .attr("width", `${31}`)
                    .attr("height", `${31}`)
                    .attr("xlink:href","{% static 'course_flow/img/multiple-users-silhouette.svg' %}");

                  nodes
                    .append('image')
                    .style('pointer-events', 'none')
                    .attr('x', `${nodeWidth-95}`)
                    .attr('y', `${10}`)
                    .attr("width", `${31}`)
                    .attr("height", `${31}`)
                    .attr("xlink:href","{% static 'course_flow/img/classroom.svg' %}");

                  const dragDropIcons = nodes.append("g")
                    .attr("class", "drag-icon")
                    .append('image')
                    .attr('x', `${nodeWidth-30}`)
                    .attr('y', `${10}`)
                    .attr("width", `${20}`)
                    .attr("height", `${20}`)
                    .attr("xlink:href","{% static 'course_flow/img/reorder-option (1).svg' %}");





              renderNodeLinks(svg);

                function reorderByRank(previousRank, newRank){
                    nodes.each(function(d,i) { if(d.rank == newRank){
                      d.rank=previousRank;
                      d3.select(this).attr("y",`${d.rank*nodeTotalSpacingVertical+strategyPadding+strategyInfoHeight}`);
                    }});
                }

            function makeDragDropNode() {
              let widget = undefined;
              let color = undefined;
              let initRank = undefined;
              let currentRank = undefined;
              let initClassification = undefined;
              let currentClassification = undefined;
              let widgetData = undefined;

              let drags = d3
                .drag()
                .on("start", function() {
                  widget = d3.select(this);
                  color = widget.select("rect").attr("fill");
                  widget.select("rect").attr("filter","url(#selection-shadow)")
                        .attr('x', 5).attr('y', 4)
                        .attr("width", `${nodeWidth-10}`).attr("height", `${nodeHeight-8}`);
                  dragDropIcons.style("cursor","grabbing");
                  widgetData = widget.node().__data__;
                  initRank = widgetData.rank;
                  initClassification = widgetData.node.classification
                  swapDiv(this);
                })
                .on("drag", function() {
                  widget.attr("x", d3.event.x-nodeWidth+20).attr("y", d3.event.y-20);
                  currentRank = Math.round((widget.attr("y")-strategyPadding-strategyInfoHeight)/nodeTotalSpacingVertical);
                  currentClassification = Math.round((widget.attr("x")-strategyPadding)/nodeTotalSpacingHorizontal);
                  if(currentRank != initRank){
                      reorderByRank(initRank, currentRank);
                      widgetData.rank = currentRank;
                      initRank = currentRank;
                  }
                  if(currentClassification != initClassification){
                      widgetData.node.classification = currentClassification;
                      initClassification = currentClassification;
                  }
                  renderNodeLinks(svg, nodeMidpointHorizontal);
                })
                .on("end", function() {
                  if (widgetData.node.classification < 0) widgetData.node.classification = 0;
                  if (widgetData.node.classification > 2) widgetData.node.classification = 2;
                  if (widgetData.rank < 0) widgetData.rank = 0;
                  if (widgetData.rank > nodeStrategySet.length-1) widgetData.rank = nodeStrategySet.length-1;
                  widget.select("rect").attr("fill", color).attr("y", 0).attr("x",0)
                    .attr("width", `${nodeWidth}`).attr("height", `${nodeHeight}`).attr("filter", "");
                  widget.attr("y",(d,i)=>`${d.rank*nodeTotalSpacingVertical+strategyPadding+strategyInfoHeight}`)
                      .attr("x", (d,i) => `${nodeTotalSpacingHorizontal*d.node.classification+strategyPadding}`);
                  dragDropIcons.style("cursor","grab");
                  updateJson();
                  renderNodeLinks(svg, nodeMidpointHorizontal);
                  widget = undefined;
                });

              drags(nodes);
            }
            makeDragDropNode();

        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                }
                d3.select("#container").style("pointer-events","none");
            },
            success: function(){
              fetchThenRenderActivity();
              d3.select("#container").style("pointer-events","auto");
            },
            failure: function(){
              fetchThenRenderActivity();
              d3.select("#container").style("pointer-events","auto");
            }
        });

        function csrfSafeMethod(method) {

            return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        }
        function getCsrfToken() {
            return document
              .getElementsByName("csrfmiddlewaretoken")[0]
              .getAttribute("value");
          }

        function updateJson(){
          $.post("{% url 'course_flow:update-activity-json' %}", {json: JSON.stringify(activityJson)})
            .done(function(data) {
            if (data.action == "posted") {
              root.currentComponentInstance.snack.MDComponent.show({
                message: root.currentComponentInstance.props.snackMessageOnSuccess
              });
            } else {
              root.currentComponentInstance.snack.MDComponent.show({
                message: root.currentComponentInstance.props.snackMessageOnFailure
              });
            }
          })
          .fail(function(data) {
            root.currentComponentInstance.snack.MDComponent.show({
              message: root.currentComponentInstance.props.snackMessageOnFailure
            });
          });
      }

        function addStrategy(strategyPk){
          $.post("{% url 'course_flow:add-strategy' %}", {strategyPk: strategyPk, activityPk: activityJson.id})
          .done(function(data) {
          if (data.action == "posted") {
            root.currentComponentInstance.snack.MDComponent.show({
              message: root.currentComponentInstance.props.snackMessageOnSuccess
            });
          } else {
            root.currentComponentInstance.snack.MDComponent.show({
              message: root.currentComponentInstance.props.snackMessageOnFailure
            });
          }
        })
        .fail(function(data) {
          root.currentComponentInstance.snack.MDComponent.show({
            message: root.currentComponentInstance.props.snackMessageOnFailure
          });
        });
        }

          });
</script>
{% endblock %}
