{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block body %}
<svg width="2000" height="10000"></svg>
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    let activityJson = null;

    const svgParent = d3.select("svg").style("margin-top", "100px");

    const totalHeight = 900;

    const sideBoardWidth = 450;

    console.log(activityJson);

    const nodeHeight = 160.0;
    const nodeWidth = 450.0;
    const nodeSpacingVertical = 50.0;
    const nodeSpacingHorizontal = 30.0;
    const nodeTotalSpacingVertical = nodeHeight + nodeSpacingVertical;
    const nodeTotalSpacingHorizontal = nodeWidth + nodeSpacingHorizontal;

    const nodeMidpointVertical = nodeHeight / 2.0;
    const nodeMidpointHorizontal = nodeWidth / 2.0;

    const strategyPadding = 30.0;
    const strategyInfoHeight = 200.0;
    const strategyVerticalSpacing = 20.0;

    const activityInfoHeight = 200.0;

    const strategyWidth =
      2 * strategyPadding +
      nodeTotalSpacingHorizontal * 3 -
      nodeSpacingHorizontal;

    function fetchThenRenderActivity() {
      d3.json("{% url 'course_flow:activity-detail' pk=object.pk %}").then(function(json) {
        activityJson = json;
        renderActivity(activityJson, svgParent);
      });
    }

    fetchThenRenderActivity();

    function renderActivity(activityData, parent) {
      d3.selectAll(".activity").remove();

      const svgActivity = parent
        .append("svg")
        .attr("x", "0")
        .attr("y", "0")
        .attr("width", `${strategyWidth}`)
        .attr("class", "activity");

      svgActivity
        .append("text")
        .style("font-family", "Roboto")
        .attr("class", "node-title")
        .attr("x", "15")
        .attr("y", "20")
        .attr("dy", 6)
        .style("font-size", 18)
        .style("fill", "white")
        .style("pointer-events", "none")
        .text(activityData.title);

      svgActivity
        .append("text")
        .style("font-family", "Roboto")
        .attr("class", "node-author")
        .attr("x", "15")
        .attr("y", "40")
        .attr("dy", 6)
        .style("font-size", 12)
        .style("fill", "white")
        .style("pointer-events", "none")
        .text("created by " + activityData.author);

      svgActivity
        .append("text")
        .style("font-family", "Roboto")
        .attr("class", "node-description")
        .attr("x", "15")
        .attr("y", "70")
        .attr("dy", 6)
        .style("font-size", 14)
        .style("fill", "white")
        .style("pointer-events", "none")
        .text(activityData.description);

      svgActivity
        .append("g")
        .attr("class", "action-icon")
        .attr("id", "update-activity")
        .on("click", function(d, i) {
          window.location.href = "{% url 'course_flow:activity-update' pk=object.pk %}";
        })
        .append("image")
        .attr("x", `${strategyWidth - 40}`)
        .attr("y", `${15}`)
        .attr("width", `${31}`)
        .attr("height", `${31}`)
        .attr("xlink:href", "{% static 'course_flow/img/pencil.svg' %}");

      var runningActivityHeight = activityInfoHeight;

      svgActivity.selectAll(".strategy").remove();

      const strategies = svgActivity
        .selectAll(".strategy")
        .data(activityData.strategyactivity_set)
        .enter()
        .append("svg")
        .attr("class", "strategy")
        .attr("x", "0")
        .attr(
          "height",
          (d, i) =>
            `${d.strategy.nodestrategy_set.length *
              (nodeHeight + nodeSpacingVertical) -
              nodeSpacingVertical +
              2 * strategyPadding +
              strategyInfoHeight}`
        )
        .attr("width", `${strategyWidth}`)
        .each(function(d, i) {
          d3.select(this)
            .append("rect")
            .attr("x", 0)
            .attr("y", 0)
            .attr("rx", "6")
            .style("pointer-events", "none")
            .attr(
              "width",
              `${(nodeWidth + nodeSpacingHorizontal) * 3 -
                nodeSpacingHorizontal}`
            )
            .attr(
              "height",
              `${d.strategy.nodestrategy_set.length *
                (nodeHeight + nodeSpacingVertical) -
                nodeSpacingVertical +
                2 * strategyPadding +
                strategyInfoHeight}`
            )
            .attr("width", `${strategyWidth}`)
            .attr("fill", "rgb(65,80,96)");
          renderStrategy(d.strategy.nodestrategy_set, d3.select(this));
        });

      for (let i = 0; i < activityData.strategyactivity_set.length; i++) {
        for (let j = 0; j < activityData.strategyactivity_set.length; j++) {
          if (strategies["_groups"][0][j].__data__.rank == i) {
            d3.select(strategies["_groups"][0][j]).attr(
              "y",
              `${runningActivityHeight}`
            );
            runningActivityHeight +=
              +d3.select(strategies["_groups"][0][j]).attr("height") +
              strategyVerticalSpacing;
          }
        }
      }

      strategies
        .append("text")
        .style("font-family", "Roboto")
        .attr("class", "node-title")
        .attr("x", "15")
        .attr("y", "20")
        .attr("dy", 6)
        .style("font-size", 18)
        .style("fill", "white")
        .style("pointer-events", "none")
        .text(d => d.strategy.title);

      strategies
        .append("text")
        .style("font-family", "Roboto")
        .attr("class", "node-author")
        .attr("x", "15")
        .attr("y", "40")
        .attr("dy", 6)
        .style("font-size", 12)
        .style("fill", "white")
        .style("pointer-events", "none")
        .text(d => "created by " + d.strategy.author);

      strategies
        .append("text")
        .style("font-family", "Roboto")
        .attr("class", "node-description")
        .attr("x", "15")
        .attr("y", "70")
        .attr("dy", 6)
        .style("font-size", 14)
        .style("fill", "white")
        .style("pointer-events", "none")
        .text(d => d.strategy.description);
    }

    function pathToNextSiblingRect(s, i) {
      path =
        "M" +
        (s[i].x.animVal.value + nodeMidpointHorizontal) +
        "," +
        (s[i].y.animVal.value + nodeHeight) +
        "C" +
        (s[i].x.animVal.value + nodeMidpointHorizontal) +
        "," +
        (s[i].y.animVal.value + nodeHeight + s[i + 1].y.animVal.value) / 2 +
        " " +
        (s[i + 1].x.animVal.value + nodeMidpointHorizontal) +
        "," +
        (s[i].y.animVal.value + nodeHeight + s[i + 1].y.animVal.value) / 2 +
        " " +
        (s[i + 1].x.animVal.value + nodeMidpointHorizontal) +
        "," +
        s[i + 1].y.animVal.value;
      return path;
    }

    function renderNodeLinks(svg) {
      svg.selectAll("path").remove();

      let rects = svg.selectAll(".node")["_groups"][0];

      sortedRects = [rects.length];

      for (let i = 0; i < rects.length; i++) {
        for (let j = 0; j < rects.length; j++) {
          if (i == rects[j].__data__.rank) {
            sortedRects[i] = rects[j];
          } else if (rects[j].__data__.rank < 0) sortedRects[0] = rects[j];
          else if (rects[j].__data__.rank > rects.length - 1)
            sortedRects[rects.length - 1] = rects[j];
        }
      }

      for (let i = 0; i < rects.length - 1; i++) {
        svg
          .append("path")
          .style("stroke", "black")
          .style("stroke-width", 3)
          .attr("fill", "none")
          .attr("d", pathToNextSiblingRect(sortedRects, i));
      }
    }

    function renderStrategy(nodeStrategySet, svg) {
      const nodes = svg
        .selectAll(".node")
        .data(nodeStrategySet)
        .enter()
        .append("svg")
        .attr("class", "node")
        .attr(
          "x",
          (d, i) =>
            `${nodeTotalSpacingHorizontal * d.node.classification +
              strategyPadding}`
        )
        .attr(
          "y",
          (d, i) =>
            `${nodeTotalSpacingVertical * d.rank +
              strategyPadding +
              strategyInfoHeight}`
        );

      nodes
        .append("rect")
        .attr("x", 0)
        .attr("y", 0)
        .attr("rx", "6")
        .attr("class", "node-rect")
        .attr("fill", "#1976BC")
        .attr("width", `${nodeWidth}`)
        .attr("height", `${nodeHeight}`)
        .style("pointer-events", "none");

      nodes
        .append("text")
        .style("font-family", "Roboto")
        .attr("class", "node-title")
        .attr("x", "15")
        .attr("y", "20")
        .attr("dy", 6)
        .style("font-size", 18)
        .style("fill", "white")
        .style("pointer-events", "none")
        .text(d => d.node.title);

      nodes
        .append("text")
        .style("font-family", "Roboto")
        .attr("class", "node-author")
        .attr("x", "15")
        .attr("y", "40")
        .attr("dy", 6)
        .style("font-size", 12)
        .style("fill", "white")
        .style("pointer-events", "none")
        .text(d => "created by " + d.node.author);

      nodes
        .append("text")
        .style("font-family", "Roboto")
        .attr("class", "node-description")
        .attr("x", "15")
        .attr("y", "70")
        .attr("dy", 6)
        .style("font-size", 14)
        .style("fill", "white")
        .style("pointer-events", "none")
        .text(d => d.node.description);

      nodes
        .append("image")
        .style("pointer-events", "none")
        .attr("x", `${nodeWidth - 135}`)
        .attr("y", `${10}`)
        .attr("width", `${31}`)
        .attr("height", `${31}`)
        .attr(
          "xlink:href",
          "{% static 'course_flow/img/multiple-users-silhouette.svg' %}"
        );

      nodes
        .append("image")
        .style("pointer-events", "none")
        .attr("x", `${nodeWidth - 95}`)
        .attr("y", `${10}`)
        .attr("width", `${31}`)
        .attr("height", `${31}`)
        .attr("xlink:href", "{% static 'course_flow/img/classroom.svg' %}");

      renderNodeLinks(svg);
    }
  });
</script>
{% endblock %}
