{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block header %}{% endblock %}
<!-- -->
{% block body %}
<svg width="2000" height="2000"></svg>
<div id="student-node-form-container"></div>
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    userFeedback.injectDialog(
      "{% trans 'Let us know how we can improve your experience!' %}",
      "{% static 'course_flow/brand/SCIVERO-LOGO-DARK.png' %}",
      "{% trans 'Thanks for your feedback!' %}",
      "{% trans 'Sorry, please try again later!' %}",
      "{% url 'user_feedback:post' %}"
    );

    root.injectStudentCompletionStatusDialog(
      "{% url 'course_flow:switch-node-completion-status' %}",
      "{% trans 'posting worked' %}",
      "{% trans 'posting didnt work' %}"
    );

    let activityJson = null;

    const svgParent = d3.select("svg").style("margin-top", "100px");

    const innerWidth = $(window).innerWidth();

    svgParent.attr("width", innerWidth);

    const nodeHeight = innerWidth / 8;
    const nodeWidth = innerWidth / 3.3;
    const nodeSpacingVertical = 50.0;
    const nodeSpacingHorizontal = 30.0;
    const nodeTotalSpacingVertical = nodeHeight + nodeSpacingVertical;
    const nodeTotalSpacingHorizontal = nodeWidth + nodeSpacingHorizontal;

    const nodeMidpointVertical = nodeHeight / 2.0;
    const nodeMidpointHorizontal = nodeWidth / 2.0;

    const strategyPadding = 30.0;
    const strategyInfoHeight = 200.0;
    const strategyVerticalSpacing = 20.0;

    const activityInfoHeight = 200.0;

    const strategyWidth =
      2 * strategyPadding +
      nodeTotalSpacingHorizontal * 3 -
      nodeSpacingHorizontal;

    const classificationLabels = [
      "Out of Class",
      "In Class (Instructor)",
      "In Class (Strudents)"
    ];

    function fetchThenRenderActivity() {
      d3.json("{% url 'course_flow:activity-detail' pk=object.pk %}").then(
        function(json) {
          activityJson = json;
          renderActivity(activityJson, svgParent);
          svgParent.attr(
            "height",
            Math.max(
              d3
                .select(".activity")
                .node()
                .getBBox().height + 20,
              $(window).innerHeight() - 100
            )
          );
        }
      );
    }

    fetchThenRenderActivity();

    function renderActivity(activityData, parent) {
      d3.selectAll(".activity").remove();

      const svgActivity = parent
        .append("svg")
        .attr("x", "0")
        .attr("y", "0")
        .attr("width", `${strategyWidth}`)
        .attr("class", "activity");

      svgActivity
        .append("text")
        .attr("id", "activity-title")
        .attr("x", "15")
        .attr("y", "20")
        .attr("dy", 6)
        .text(activityData.title);

      svgActivity
        .append("text")
        .attr("id", "activity-author")
        .attr("x", "15")
        .attr("y", "40")
        .attr("dy", 6)
        .text("created by " + activityData.author);

      svgActivity
        .append("text")
        .attr("id", "activity-description")
        .attr("x", "15")
        .attr("y", "70")
        .attr("dy", 6)
        .text(activityData.description);

      for (let i = 0; i < 3; i++) {
        svgActivity
          .append("text")
          .attr("class", "activity-classification")
          .attr("text-anchor", "middle")
          .attr(
            "x",
            `${nodeTotalSpacingHorizontal * i + nodeTotalSpacingHorizontal / 2}`
          )
          .attr("y", "160")
          .attr("dy", 6)
          .text(classificationLabels[i]);
      }

      var runningActivityHeight = activityInfoHeight;

      svgActivity.selectAll(".strategy").remove();

      const strategies = svgActivity
        .selectAll(".strategy")
        .data(activityData.strategyactivity_set)
        .enter()
        .append("svg")
        .attr("class", "strategy")
        .attr("x", "0")
        .attr(
          "height",
          (d, i) =>
            `${d.strategy.nodestrategy_set.length *
              (nodeHeight + nodeSpacingVertical) -
              nodeSpacingVertical +
              2 * strategyPadding +
              strategyInfoHeight}`
        )
        .attr("width", `${strategyWidth}`)
        .each(function(d, i) {
          d3.select(this)
            .append("rect")
            .attr("x", 0)
            .attr("y", 0)
            .attr("rx", "6")
            .style("pointer-events", "none")
            .attr(
              "width",
              `${(nodeWidth + nodeSpacingHorizontal) * 3 -
                nodeSpacingHorizontal}`
            )
            .attr(
              "height",
              `${d.strategy.nodestrategy_set.length *
                (nodeHeight + nodeSpacingVertical) -
                nodeSpacingVertical +
                2 * strategyPadding +
                strategyInfoHeight}`
            )
            .attr("width", `${strategyWidth}`)
            .attr("fill", "rgb(65,80,96)");
          renderStrategy(d.strategy.nodestrategy_set, d3.select(this));
        });

      for (let i = 0; i < activityData.strategyactivity_set.length; i++) {
        for (let j = 0; j < activityData.strategyactivity_set.length; j++) {
          if (strategies["_groups"][0][j].__data__.rank == i) {
            d3.select(strategies["_groups"][0][j]).attr(
              "y",
              `${runningActivityHeight}`
            );
            runningActivityHeight +=
              +d3.select(strategies["_groups"][0][j]).attr("height") +
              strategyVerticalSpacing;
          }
        }
      }

      strategies
        .append("text")
        .attr("class", "strategy-title")
        .attr("x", "15")
        .attr("y", "20")
        .attr("dy", 6)
        .text(d => d.strategy.title);

      strategies
        .append("text")
        .attr("class", "strategy-author")
        .attr("x", "15")
        .attr("y", "40")
        .attr("dy", 6)
        .text(d => "created by " + d.strategy.author);

      strategies
        .append("text")
        .attr("class", "strategy-description")
        .attr("x", "15")
        .attr("y", "70")
        .attr("dy", 6)
        .text(d => d.strategy.description);
    }

    function pathToNextSiblingRect(s, i) {
      path =
        "M" +
        (s[i].x.animVal.value + nodeMidpointHorizontal) +
        "," +
        (s[i].y.animVal.value + nodeHeight) +
        "C" +
        (s[i].x.animVal.value + nodeMidpointHorizontal) +
        "," +
        (s[i].y.animVal.value + nodeHeight + s[i + 1].y.animVal.value) / 2 +
        " " +
        (s[i + 1].x.animVal.value + nodeMidpointHorizontal) +
        "," +
        (s[i].y.animVal.value + nodeHeight + s[i + 1].y.animVal.value) / 2 +
        " " +
        (s[i + 1].x.animVal.value + nodeMidpointHorizontal) +
        "," +
        s[i + 1].y.animVal.value;
      return path;
    }

    function renderNodeLinks(svg) {
      svg.selectAll("path").remove();

      let rects = svg.selectAll(".node")["_groups"][0];

      sortedRects = [rects.length];

      for (let i = 0; i < rects.length; i++) {
        for (let j = 0; j < rects.length; j++) {
          if (i == rects[j].__data__.rank) {
            sortedRects[i] = rects[j];
          } else if (rects[j].__data__.rank < 0) sortedRects[0] = rects[j];
          else if (rects[j].__data__.rank > rects.length - 1)
            sortedRects[rects.length - 1] = rects[j];
        }
      }

      for (let i = 0; i < rects.length - 1; i++) {
        svg
          .append("path")
          .style("stroke", "black")
          .style("stroke-width", 3)
          .attr("fill", "none")
          .attr("d", pathToNextSiblingRect(sortedRects, i));
      }
    }

    function renderStrategy(nodeStrategySet, svg) {
      const nodes = svg
        .selectAll(".node")
        .data(nodeStrategySet)
        .enter()
        .append("svg")
        .attr("class", "node")
        .attr(
          "x",
          (d, i) =>
            `${nodeTotalSpacingHorizontal * d.node.classification +
              strategyPadding}`
        )
        .attr(
          "y",
          (d, i) =>
            `${nodeTotalSpacingVertical * d.rank +
              strategyPadding +
              strategyInfoHeight}`
        );

      nodes
        .append("rect")
        .attr("x", 0)
        .attr("y", 0)
        .attr("rx", "6")
        .attr("class", "node-rect")
        .attr("fill", "#1976BC")
        .attr("width", `${nodeWidth}`)
        .attr("height", `${nodeHeight}`)
        .style("pointer-events", "none");

      nodes
        .append("text")
        .attr("class", "node-title")
        .attr("x", "15")
        .attr("y", "20")
        .attr("dy", 6)
        .style("font-size", nodeWidth / 25)
        .text(d => d.node.title);

      nodes
        .append("text")
        .attr("class", "node-author")
        .attr("x", "15")
        .attr("y", "40")
        .attr("dy", 6)
        .style("font-size", 12)
        .text(d => "created by " + d.node.author);

      nodes
        .append("text")
        .attr("class", "node-description")
        .attr("x", "15")
        .attr("y", "0")
        .attr("dy", 6)
        .style("font-size", nodeWidth / 30)
        .text(d => d.node.description)
        .call(wrap, nodeWidth - 40);

      // following function taken from Mike Bostock's 'Wrapping Long Labels'

      function wrap(text, width) {
        text.each(function() {
          var text = d3.select(this),
            words = text
              .text()
              .split(/\s+/)
              .reverse(),
            word,
            line = [],
            lineNumber = 0,
            lineHeight = 1.5, // ems
            y = text.attr("y");
          (x = text.attr("x")),
            (dy = parseFloat(text.attr("dy"))),
            (tspan = text
              .text(null)
              .append("tspan")
              .attr("x", x)
              .attr("y", y)
              .attr("dy", dy + "em"));
          while ((word = words.pop())) {
            line.push(word);
            tspan.text(line.join(" "));
            if (tspan.node().getComputedTextLength() > width) {
              line.pop();
              tspan.text(line.join(" "));
              line = [word];
              tspan = text
                .append("tspan")
                .attr("x", x)
                .attr("y", y)
                .attr("dy", ++lineNumber * lineHeight + dy + "em")
                .text(word);
            }
          }
        });
      }

      nodes
        .append("image")
        .style("pointer-events", "none")
        .attr("x", `${nodeWidth - 100}`)
        .attr("y", `${10}`)
        .attr("width", `${31}`)
        .attr("height", `${31}`)
        .attr(
          "xlink:href",
          "{% static 'course_flow/img/multiple-users-silhouette.svg' %}"
        );

      nodes
        .append("image")
        .style("pointer-events", "none")
        .attr("x", `${nodeWidth - 50}`)
        .attr("y", `${10}`)
        .attr("width", `${31}`)
        .attr("height", `${31}`)
        .attr("xlink:href", "{% static 'course_flow/img/classroom.svg' %}");

      nodes
        .append("g")
        .attr("class", "action-icon update-node")
        .on("mousedown", async function(d, i) {
          const completionStatus = await getCompletionStatus(
            d3.select(this.parentNode).node().__data__.node.id
          );
          root.currentStudentComponentInstance.setState({
            object: d3.select(this.parentNode).node().__data__.node,
            isCompleted: completionStatus
          });
          root.currentStudentComponentInstance.dlg.MDComponent.show();
        })
        .append("image")
        .attr("x", `${nodeWidth - 40}`)
        .attr("y", `${nodeHeight - 90}`)
        .attr("width", `${31}`)
        .attr("height", `${31}`)
        .each(async function() {
          const completionStatus = await getCompletionStatus(
            d3.select(this.parentNode).node().__data__.node.id
          );
          if (completionStatus) {
            console.log("Completion status is true");
            d3.select(this).attr(
              "xlink:href",
              "{% static 'course_flow/img/info-green.svg' %}"
            );
          } else {
            console.log("Completion status is not true");
            d3.select(this).attr(
              "xlink:href",
              "{% static 'course_flow/img/info-24px.svg' %}"
            );
          }
        });

      renderNodeLinks(svg);
    }

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
        }
      }
    });

    function csrfSafeMethod(method) {
      return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
    }
    function getCsrfToken() {
      return document
        .getElementsByName("csrfmiddlewaretoken")[0]
        .getAttribute("value");
    }

    async function getCompletionStatus(nodePk) {
      let resp = await $.get(
        "{% url 'course_flow:get-node-completion-status' %}",
        {
          nodePk: nodePk
        }
      );
      console.log("getCompletionStatus 1", resp);
      return resp.completion_status;
    }
  });
</script>
{% endblock %}
