{% load static compress i18n %} {% get_current_language as LANGUAGE_CODE %} {% load course_flow_templatetags %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{% block metadescription %}{% endblock %}"
    />
    <meta name="theme-color" content="#1976BC" />

    <!-- External resources -->
    <!-- * Fonts and icons -->

    <!-- * Scripts -->
    <!-- ** Preloads -->
    <!-- ** Polyfills for non-awesome browsers-->
    <script
      src="https://cdn.polyfill.io/v2/polyfill.min.js"
      rel="preload"
      integrity="sha384-83CYOGXsi59YYxBeS/ag/t615snxzc9UUt0t4ApSQHHKYmbmlQj/MuS9QywJHVDN"
      crossorigin="anonymous"
    ></script>
    <!-- ** jquery -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
      integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX"
      crossorigin="anonymous"
    ></script>
    <!-- ** d3 -->
    <script
      src="https://d3js.org/d3.v5.min.js"
      integrity="sha384-M06Cb6r/Yrkprjr7ngOrJlzgekrkkdmGZDES/SUnkUpUol0/qjsaQWQfLzq0mcfg"
      crossorigin="anonymous"
    ></script>
    <!-- Quill Stylesheet-->
    <link
      rel="stylesheet"
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      integrity="sha384-07UbSXbd8HpaOfxZsiO6Y8H1HTX6v0J96b5qP6PKSpYEuSZSYD4GFFHlLRjvjVrL"
      crossorigin="anonymous"
    />
    <!-- Include the Quill library -->
    <script
      src="https://cdn.quilljs.com/1.3.6/quill.min.js"
      integrity="sha384-AOnYUgW6MQR78EvTqtkbNavz7dVI7dtLm7QdcIMBoy06adLIzNT40hHPYl9Rr5m5"
      crossorigin="anonymous"
    ></script>
    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>

    <!-- * Icons -->
    <!-- ** Preloads -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap"
      as="style"
    />
    <!-- ** Loads -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap"
      type="text/css"
    />

    <script nonce="{{ request.csp_nonce }}">
      // HACK(keanulee): The Redux package assumes `process` exists - mock it here before
      // the module is loaded.
      window.process = {
        env: {
          NODE_ENV: "production"
        }
      };
    </script>

    <!-- Internal resources -->
    {% compress js %}
    <script
      src="{% static 'course_flow/js/scripts.min.js' %}"
      defer="true"
      charset="utf-8"
    ></script>
    {% endcompress %}
    <!-- -->
    {% compress js %}
    <script
      src="{% static 'course_flow/js/scripts-wf-redux.min.js' %}"
      defer="true"
      charset="utf-8"
    ></script>
    {% endcompress %}
    <!-- -->
    {% compress js %}
    <script
      src="{% static 'course_flow/js/scripts-live.min.js' %}"
      defer="true"
      charset="utf-8"
    ></script>
    {% endcompress %}
    <script nonce="{{ request.csp_nonce }}"
      src="{% url 'course_flow:javascript-catalog' %}"
      defer="true"
      charset="utf-8"
    ></script>
    <!-- * CSS -->
    {% compress css %}
    <link
      rel="stylesheet"
      href="{% static 'course_flow/css/preact_styles.css' %}"
    />
    {% endcompress %}
    <!--  -->
    {% compress css %}
    <link
      rel="stylesheet"
      href="{% static 'course_flow/js/course_flow.css' %}"
    />
    {% endcompress %}
    {% block header %}{% endblock %}
  </head>
  <body id="site">
    <div class="main-wrapper">
      <div class="left-panel hide-print">
        <img class="title-image" src="{% static 'course_flow/img/images_svg/logo-courseflow-beta.svg' %}"/>
        <a class="panel-item hover-shade" href="{% url 'course_flow:home' %}">
          <img src="{% static 'course_flow/img/images_svg/home_black.svg' %}"/>
          <div>{% trans 'Home' %}</div>
        </a>
        {% if user|has_group:"Teacher" %}
        <a id="panel-my-projects" class="panel-item hover-shade" href="{% url 'course_flow:my-projects' %}">
          <img src="{% static 'course_flow/img/images_svg/layoutnav.svg' %}"/>
          <div>{% trans 'My Projects' %}</div>
        </a>
        {% endif %}
        <a id="panel-my-live-projects" class="panel-item hover-shade" href="{% url 'course_flow:my-live-projects' %}">
          <img src="{% static 'course_flow/img/images_svg/layoutnav_2.svg' %}"/>
          <div>{% trans 'My Classrooms' %}</div>
        </a>
        {% if user|has_group:"Teacher" %}
        <a id="panel-my-templates" class="panel-item hover-shade" href="{% url 'course_flow:my-templates' %}">
          <img src="{% static 'course_flow/img/images_svg/strategy.svg' %}"/>
          <div>{% trans 'My Templates' %}</div>
        </a>
        <a id="panel-my-shared" class="panel-item hover-shade" href="{% url 'course_flow:my-shared' %}">
          <img src="{% static 'course_flow/img/images_svg/add_person_black.svg' %}"/>
          <div>{% trans 'Shared With Me' %}</div>
        </a>
        {% endif %}
        <a class="panel-item hover-shade" href={% course_flow_return_url %}>
          <img src="{% static 'course_flow/img/images_svg/return_to_project.svg' %}"/>
          <div>{% course_flow_return_title %}</div>
        </a>

        {% if user|has_group:"Teacher" %}
        <hr>
        {% endif %}
        <div class="left-panel-extra">
          {% if user|has_group:"Teacher" %}
            <a class="panel-item hover-hade" href="{% url 'course_flow:my-favourites' %}">
              {% trans 'My Favourites' %}
            </a>
              {% for favourite in user.favourite_set.all|not_deleted_favourites|slice:":5" %}
                <a class="panel-favourite hover-shade"
                   {% if favourite.content_object.type == "project" %}
                      href="{% url 'course_flow:project-update' pk=favourite.content_object.pk %}"
                   {% else %}
                      href="{% url 'course_flow:workflow-update' pk=favourite.content_object.pk %}"
                   {% endif %}
                   >
                  {{ favourite.content_object }}
                </a>
              {% endfor %}
            <a class="panel-favourite hover-shade" href="{% url 'course_flow:my-favourites' %}">... {% trans 'see all' %}</a>
          {% endif %}
        </div>
        {% if user|has_group:"Teacher" %}
        <hr>
        <a class="panel-item hover-shade" href="{% url 'course_flow:import' %}">{% trans "Import from old CourseFlow" %}</a>
        {% endif %}
      </div>
      <div class="main-block">
        <div class="topnav hide-print">
          <div class="titlebar">
            <div class="title">
            </div>
            <div class="floatbar">
              <div id="username-container" class="topdropwrapper">
                <button id="username" class="topdropbutton">
                  <a class="username-link" href="{% url 'course_flow:home' %}">
                      {{ user.username }}
                  </a>
                </button>
              </div>
              {% if user.username %}
              <div id="logout-container" class="topdropwrapper">
                <button id="logout" class="topdropbutton">
                  {% trans 'logout' %}
                </button>
              </div>
              {% endif %}
              {% if user|has_group:"Teacher" %}
              <div class="topdropwrapper">
                <button class="topdropbutton">
                  <a id="explore-icon-link" title="{% trans 'Explore' %}" href="{% url 'course_flow:explore' %}?types[]=activity&types[]=course&types[]=program&types[]=project"
                    ><img
                      id="explore-icon"
                      src="{% static 'course_flow/img/images_svg/explore.svg' %}"
                  /></a>
                </button>
              </div>
              <div class="topdropwrapper">
                <button class="topdropbutton">
                  <a id="user-feedback" title="{% trans 'Get Help' %}" target="_blank" href="https://courseflow.freshdesk.com/support/home"
                    ><img
                      id="help-icon"
                      src="{% static 'course_flow/img/images_svg/help.svg' %}"
                  /></a>
                </button>
              </div>
              {% endif %}
            </div>
          </div>
            <div class="menubar">
                <div id="workflowtitle" class="workflow-title-bar">
                </div>
                <div id="floatbar" class="floatbar">
                </div>
                <div id="userbar" class="floatbar">
                </div>
                <div id="viewbar" class="viewbar">
                </div>
              </div>
        </div>
        <div class="right-panel-wrapper">
          <div id="container" class="body-wrapper"></div>
          <div id="sidebar-container"></div>
        </div>
      </div>
    </div>
    {% block body %}{% endblock %}
    <footer>{% block foot %}{% endblock %}</footer>
    {% csrf_token %}
  </body>

  {% block common_scripts %}
  <script nonce="{{request.csp_nonce}}">
    //global paths for post/get
    const post_paths = {
      get_possible_linked_workflows:
        "{% url 'course_flow:get-possible-linked-workflows' %}",
      get_possible_added_workflows:
        "{% url 'course_flow:get-possible-added-workflows' %}",
      get_workflow_context:
        "{% url 'course_flow:get-workflow-context' %}",
      get_target_projects:
        "{% url 'course_flow:get-target-projects' %}",
      set_linked_workflow: "{% url 'course_flow:set-linked-workflow' %}",
      update_value: "{% url 'course_flow:update-value' %}",
      new_node: "{% url 'course_flow:new-node' %}",
      new_outcome: "{% url 'course_flow:new-outcome-for-workflow' %}",
      add_strategy: "{% url 'course_flow:add-strategy' %}",
      toggle_strategy: "{% url 'course_flow:toggle-strategy' %}",
      new_node_link: "{% url 'course_flow:new-node-link' %}",
      delete_self: "{% url 'course_flow:delete-self' %}",
      restore_self: "{% url 'course_flow:restore-self' %}",
      delete_self_soft: "{% url 'course_flow:delete-self-soft' %}",
      duplicate_self: "{% url 'course_flow:duplicate-self' %}",
      insert_sibling: "{% url 'course_flow:insert-sibling' %}",
      insert_child: "{% url 'course_flow:insert-child' %}",
      inserted_at: "{% url 'course_flow:inserted-at' %}",
      update_outcomehorizontallink_degree: "{% url 'course_flow:update-outcomehorizontallink-degree' %}",
      update_outcomenode_degree:
        "{% url 'course_flow:update-outcomenode-degree' %}",
      duplicate_project_ajax: "{% url 'course_flow:duplicate-project' %}",
      duplicate_workflow_ajax: "{% url 'course_flow:duplicate-workflow' %}",
      duplicate_strategy_ajax: "{% url 'course_flow:duplicate-strategy' %}",
      toggle_favourite: "{% url 'course_flow:toggle-favourite' %}",
      get_workflow_data: "{% url 'course_flow:get-workflow-data' %}",
      get_workflow_parent_data: "{% url 'course_flow:get-workflow-parent-data' %}",
      get_workflow_child_data: "{% url 'course_flow:get-workflow-child-data' %}",
      get_project_data: "{% url 'course_flow:get-project-data' %}",
      get_users_for_object: "{% url 'course_flow:get-users-for-object' %}",
      get_users_for_liveproject: "{% url 'course_flow:get-users-for-liveproject' %}",
      get_user_list: "{% url 'course_flow:get-user-list' %}",
      set_permission: "{% url 'course_flow:set-permission' %}",
      set_liveproject_role: "{% url 'course_flow:set-liveproject-role' %}",
      get_comments_for_object: "{% url 'course_flow:get-comments-for-object' %}",
      add_terminology: "{% url 'course_flow:add-terminology' %}",
      update_object_set: "{% url 'course_flow:update-object-set' %}",
      add_comment: "{% url 'course_flow:add-comment' %}",
      remove_comment: "{% url 'course_flow:remove-comment' %}",
      remove_all_comments: "{% url 'course_flow:remove-all-comments' %}",
      get_parent_workflow_info: "{% url 'course_flow:get-parent-workflow-info' %}",
      get_export: "{% url 'course_flow:get-export' %}",
      get_export_download: "{% url 'course_flow:get-export-download' %}",
      import_data: "{% url 'course_flow:import-data' %}",
      make_project_live: "{% url 'course_flow:make-project-live' %}",
      set_workflow_visibility: "{% url 'course_flow:set-workflow-visibility' %}",
      get_live_project_data: "{% url 'course_flow:get-live-project-data' %}",
      get_live_project_data_student: "{% url 'course_flow:get-live-project-data-student' %}",
    };
    const get_paths = {
      get_disciplines: "{% url 'course_flow:get-disciplines' %}",
      import: "{% url 'course_flow:import' %}",
      get_public_workflow_data: "{% url 'course_flow:get-public-workflow-data' pk='0' %}",
      get_public_workflow_parent_data: "{% url 'course_flow:get-public-workflow-parent-data' pk='0' %}",
      get_public_workflow_child_data: "{% url 'course_flow:get-public-workflow-child-data' pk='0' %}",
    };

    const update_path = {
        project:"{% url 'course_flow:project-update' pk='0'%}",
        activity:"{% url 'course_flow:workflow-update' pk='0'%}",
        course:"{% url 'course_flow:workflow-update' pk='0'%}",
        program:"{% url 'course_flow:workflow-update' pk='0'%}",
        workflow:"{% url 'course_flow:workflow-update' pk='0'%}",
        liveproject:"{% url 'course_flow:live-project-update' pk='0'%}"
    };
    const public_update_path = {
        activity:"{% url 'course_flow:workflow-public' pk='0'%}",
        course:"{% url 'course_flow:workflow-public' pk='0'%}",
        program:"{% url 'course_flow:workflow-public' pk='0'%}",
        workflow:"{% url 'course_flow:workflow-public' pk='0'%}"
    };
    const registration_path = "{{ request.get_host }}{% url 'course_flow:register-as-student' project_hash='project_hash' %}";

    $("#logout").on("click",()=>{
        window.location.replace("{% url 'course_flow:logout' %}");
    });

    //reload if we got here using forward or back button
    if (
      window.performance &&
      window.performance.navigation.type ===
        window.performance.navigation.TYPE_BACK_FORWARD
    ) {
      location.reload();
    }
      
    //Fix Quilljs's link sanitization
    const Link = Quill.import('formats/link')
    // Override the existing property on the Quill global object and add custom protocols
    Link.PROTOCOL_WHITELIST = ['http', 'https'];

    class CustomLinkSanitizer extends Link {
      static sanitize(url) {
        // Run default sanitize method from Quill
        const sanitizedUrl = super.sanitize(url);

        // Not whitelisted URL based on protocol so, let's return `blank`
        if (!sanitizedUrl || sanitizedUrl === 'about:blank') return sanitizedUrl;

        // Verify if the URL already have a whitelisted protocol
        const hasWhitelistedProtocol = this.PROTOCOL_WHITELIST.some(function(protocol) {
          return sanitizedUrl.startsWith(protocol);
        })

        if (hasWhitelistedProtocol) return sanitizedUrl;

        // if not, then append only 'http' to not to be a relative URL
        return `http://${sanitizedUrl}`;
      }
    }

    Quill.register(CustomLinkSanitizer, true)


  </script>
  {% endblock %} {% block read_only_scripts %} {% endblock %}
  <!-- -->
    {% block scripts %}
    <script nonce="{{ request.csp_nonce }}">
        window.addEventListener("beforeprint",()=>{
        $(".hide-print").hide();
        $(".workflow-wrapper, #container").addClass("printing");
    });
    window.addEventListener("afterprint",()=>{
        $(".hide-print").show()
        $(".workflow-wrapper, #container").removeClass("printing");
    });


    </script>
    {% endblock %}
</html>
