{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block header %}{% endblock %}
<!-- -->
{% block body %}
<svg width="2000" height="10000"></svg>
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {

    userFeedback.injectDialog(
      "{% trans 'Let us know how we can improve your experience!' %}",
      "{% static 'course_flow/brand/SCIVERO-LOGO-DARK.png' %}",
      "{% trans 'Thanks for your feedback!' %}",
      "{% trans 'Sorry, please try again later!' %}",
      "{% url 'user_feedback:post' %}"
    );

    let courseJson = null;

    const innerWidth = $(window).innerWidth();
    const svgParent = d3.select("svg").style("margin-top", "100px");
    svgParent.attr("width", innerWidth);

    const componentHeight = innerWidth / 9;
    const componentWidth = innerWidth / 4.6;
    const componentSpacingVertical = 50.0;
    const componentSpacingHorizontal = 30.0;
    const componentTotalSpacingVertical =
      componentHeight + componentSpacingVertical;
    const componentTotalSpacingHorizontal =
      componentWidth + componentSpacingHorizontal;

    const componentMidpointVertical = componentHeight / 2.0;
    const componentMidpointHorizontal = componentWidth / 2.0;

    const weekPadding = 30.0;
    const weekInfoHeight = 200.0;
    const weekVerticalSpacing = 20.0;

    const courseInfoHeight = 200.0;

    const weekWidth =
      2 * weekPadding +
      componentTotalSpacingHorizontal * 4 -
      componentSpacingHorizontal;

    const classificationLabels = [
      "Activity",
      "Preparation",
      "Assessment",
      "Artifact"
    ];

    function fetchThenRenderCourse() {
      d3.json("{% url 'course_flow:course-detail' pk=object.pk %}").then(
        function(json) {
          courseJson = json;
          renderCourse(courseJson, svgParent);
          svgParent.attr(
            "height",
            Math.max(
              d3
                .select(".course")
                .node()
                .getBBox().height + 20,
              $(window).innerHeight() - 100
            )
          );
        }
      );
    }

    fetchThenRenderCourse();

    function renderCourse(jsonData, parent) {
      d3.selectAll(".course").remove();

      const svgCourse = parent
        .append("svg")
        .attr("x", "0")
        .attr("y", "0")
        .attr("width", `${weekWidth}`)
        .attr("class", "course");

      svgCourse
        .append("text")
        .attr("id", "course-title")
        .attr("class", "course-title")
        .attr("x", "15")
        .attr("y", "20")
        .attr("dy", 6)
        .text(jsonData.title);

      svgCourse
        .append("text")
        .attr("id", "course-author")
        .attr("class", "course-author")
        .attr("x", "15")
        .attr("y", "40")
        .attr("dy", 6)
        .text("created by " + jsonData.author);

      svgCourse
        .append("text")
        .attr("id", "course-description")
        .attr("class", "course-description")
        .attr("x", "15")
        .attr("y", "70")
        .attr("dy", 6)
        .text(jsonData.description);

      {% if user == object.author %}

      svgCourse
        .append("g")
        .attr("class", "action-icon")
        .attr("id", "update-course")
        .on("click", function(d, i) {
          window.location.href =
            "{% url 'course_flow:course-update' pk=object.pk %}";
        })
        .append("image")
        .attr("x", `${weekWidth - 40}`)
        .attr("y", `${55}`)
        .attr("width", `${31}`)
        .attr("height", `${31}`)
        .attr("xlink:href", "{% static 'course_flow/img/pencil.svg' %}");

      {% endif %}

      svgCourse
        .append("g")
        .attr("class", "action-icon")
        .attr("id", "clone-course")
        .on("click", cloneCourse)
        .append("image")
        .attr("x", `${weekWidth - 40}`)
        .attr("y", `${15}`)
        .attr("width", `${31}`)
        .attr("height", `${31}`)
        .attr("xlink:href", "{% static 'course_flow/img/file_copy-24px.svg' %}");


      for (let i = 0; i < 4; i++) {
        svgCourse
          .append("text")
          .style("font-family", "Roboto")
          .attr("class", "course-classification")
          .attr("text-anchor", "middle")
          .attr(
            "x",
            `${componentTotalSpacingHorizontal * i +
              componentTotalSpacingHorizontal / 2}`
          )
          .attr("y", "160")
          .attr("dy", 6)
          .style("font-size", 16)
          .style("fill", "white")
          .style("pointer-events", "none")
          .text(classificationLabels[i]);
      }

      var runningWeekHeight = courseInfoHeight;

      svgCourse.selectAll(".week").remove();

      const weeks = svgCourse
        .selectAll(".week")
        .data(jsonData.weekcourse_set)
        .enter()
        .append("svg")
        .attr("class", "week")
        .attr("x", "0")
        .attr(
          "height",
          (d, i) =>
            `${d.week.componentweek_set.length *
              (componentHeight + componentSpacingVertical) -
              componentSpacingVertical +
              2 * weekPadding +
              weekInfoHeight}`
        )
        .attr("width", `${weekWidth}`)
        .each(function(d, i) {
          d3.select(this)
            .append("rect")
            .attr("x", 0)
            .attr("y", 0)
            .attr("rx", "6")
            .style("pointer-events", "none")
            .attr(
              "width",
              `${(componentWidth + componentSpacingHorizontal) * 4 -
                componentSpacingHorizontal}`
            )
            .attr(
              "height",
              `${d.week.componentweek_set.length *
                (componentHeight + componentSpacingVertical) -
                componentSpacingVertical +
                2 * weekPadding +
                weekInfoHeight}`
            )
            .attr("width", `${weekWidth}`)
            .attr("fill", "rgb(65,80,96)");
          renderWeek(d.week.componentweek_set, d3.select(this));
        });

      for (let i = 0; i < jsonData.weekcourse_set.length; i++) {
        for (let j = 0; j < jsonData.weekcourse_set.length; j++) {
          if (weeks["_groups"][0][j].__data__.rank == i) {
            d3.select(weeks["_groups"][0][j]).attr("y", `${runningWeekHeight}`);
            runningWeekHeight +=
              +d3.select(weeks["_groups"][0][j]).attr("height") +
              weekVerticalSpacing;
          }
        }
      }

      weeks
        .append("text")
        .attr("class", "week-title")
        .attr("x", "15")
        .attr("y", "20")
        .attr("dy", 6)
        .text(d => d.week.title);

      weeks
        .append("text")
        .attr("class", "week-author")
        .attr("x", "15")
        .attr("y", "40")
        .attr("dy", 6)
        .text(d => "created by " + d.week.author);


    }

    function pathToNextSiblingRect(s, i) {
      path =
        "M" +
        (s[i].x.animVal.value + componentMidpointHorizontal) +
        "," +
        (s[i].y.animVal.value + componentHeight) +
        "C" +
        (s[i].x.animVal.value + componentMidpointHorizontal) +
        "," +
        (s[i].y.animVal.value + componentHeight + s[i + 1].y.animVal.value) /
          2 +
        " " +
        (s[i + 1].x.animVal.value + componentMidpointHorizontal) +
        "," +
        (s[i].y.animVal.value + componentHeight + s[i + 1].y.animVal.value) /
          2 +
        " " +
        (s[i + 1].x.animVal.value + componentMidpointHorizontal) +
        "," +
        s[i + 1].y.animVal.value;
      return path;
    }

    function renderComponentLinks(svg) {
      svg.selectAll("path").remove();

      let rects = svg.selectAll(".component")["_groups"][0];

      sortedRects = [rects.length];


      for (let i = 0; i < rects.length; i++) {
        for (let j = 0; j < rects.length; j++) {
          if (i == rects[j].__data__.rank) {
            sortedRects[i] = rects[j];
          } else if (rects[j].__data__.rank < 0) sortedRects[0] = rects[j];
          else if (rects[j].__data__.rank > rects.length - 1)
            sortedRects[rects.length - 1] = rects[j];
        }
      }


      for (let i = 0; i < rects.length - 1; i++) {
        svg
          .append("path")
          .style("stroke", "black")
          .style("stroke-width", 3)
          .attr("fill", "none")
          .attr("d", pathToNextSiblingRect(sortedRects, i));
      }
    }

    function renderWeek(componentWeekSet, svg) {
      svg.selectAll(".component").remove();

      const components = svg
        .selectAll(".component")
        .data(componentWeekSet)
        .enter()
        .append("svg")
        .attr("class", "component")
        .attr(
          "x",
          (d, i) =>
            `${componentTotalSpacingHorizontal * d.component.content_type +
              weekPadding}`
        )
        .attr(
          "y",
          (d, i) =>
            `${componentTotalSpacingVertical * d.rank +
              weekPadding +
              weekInfoHeight}`
        );

      components
        .append("rect")
        .attr("x", 0)
        .attr("y", 0)
        .attr("rx", "6")
        .attr("class", "component-rect")
        .attr("fill", "#1976BC")
        .attr("width", `${componentWidth}`)
        .attr("height", `${componentHeight}`)
        .style("pointer-events", "none");

      components
        .append("text")
        .attr("class", "component-title")
        .attr("x", "15")
        .attr("y", "20")
        .attr("dy", 6)
        .style("font-size", componentHeight/12)
        .text(d => d.component.content_object.title);

      components
        .append("text")
        .attr("class", "component-author")
        .attr("x", "15")
        .attr("y", "40")
        .attr("dy", 6)
        .style("font-size", componentHeight/18)
        .text(d => "created by " + d.component.content_object.author);

        // following function taken from Mike Bostock's 'Wrapping Long Labels'

      function wrap(text, width) {
          text.each(function() {
            var text = d3.select(this),
                words = text.text().split(/\s+/).reverse(),
                word,
                line = [],
                lineNumber = 0,
                lineHeight = 1.5, // ems
                y = text.attr("y")
                x = text.attr("x"),
                dy = parseFloat(text.attr("dy")),
                tspan = text.text(null).append("tspan").attr("x", x).attr("y", y).attr("dy", dy + "em");
            while (word = words.pop()) {
              line.push(word);
              tspan.text(line.join(" "));
              if (tspan.node().getComputedTextLength() > width) {
                line.pop();
                tspan.text(line.join(" "));
                line = [word];
                tspan = text.append("tspan").attr("x", x).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
              }
            }
          });
        }

      components
        .append("text")
        .attr("class", "component-description")
        .attr("x", "15")
        .attr("y", "5")
        .attr("dy", 6)
        .style("font-size", componentHeight/16)
        .text(d => d.component.content_object.description)
        .call(wrap, componentWidth-35)

      components.each(async function(d,i){


        if (d.component.content_type_in_text=="activity") {
        d3.select(this).append("g")
        .attr("class", "action-icon view-component")
        .on("mousedown", function(d, i) {
            window.location.href = "{% url 'course_flow:activity-detail-view' pk=0 %}".replace(
                "0",
                d3.select(this.parentNode).node().__data__.component
                  .content_object.id
              );
        })
        .append("image")
        .attr("x", `${componentWidth - 40}`)
        .attr("y", `${10}`)
        .attr("width", `${31}`)
        .attr("height", `${31}`)
        .attr("xlink:href", "{% static 'course_flow/img/pageview-grey.svg' %}");
      } else {
        const completionStatusCount = await getCompletionStatusCount(d.component.id);
        d3.select(this).append("text")
        .attr("class", "component-completion-count")
        .attr("x", "15")
        .attr("y", "60")
        .attr("dy", 6)
        .style("font-size", 12).text(
          completionStatusCount + "/{{ object.students.count }}"
        );
      }

      });
      renderComponentLinks(svg);
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
            }
        }
    });

    function csrfSafeMethod(method) {

        return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
    }
    function getCsrfToken() {
        return document
          .getElementsByName("csrfmiddlewaretoken")[0]
          .getAttribute("value");
      }

      async function getCompletionStatusCount(componentPk) {
        let resp = await $.get(
          "{% url 'course_flow:get-component-completion-status-count' %}",
          {
            componentPk: componentPk
          }
        );
        return resp.completion_status_count;
      }

  });
</script>
{% endblock %}
