{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block body %}
<svg width="2000" height="10000">
  <defs>
    <filter id="selection-shadow">
      <feDropShadow dx="1" dy="1" stdDeviation="2" />
    </filter>
  </defs>
</svg>
<div id="node-form-container"></div>
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %}
<script nonce="{{ request.csp_nonce }}">

        window.addEventListener("load", function() {


          root.injectDialogForm(
            "{% url 'course_flow:dialog-form-create' %}",
            "{% url 'course_flow:dialog-form-update' %}",
            "{% url 'course_flow:dialog-form-delete' %}",
            "{% url 'course_flow:dialog-form-remove' %}",
            "{% trans 'posting worked' %}",
            "{% trans 'posting didnt work' %}"
          );

          let courseJson = null;
          const componentBoardJson = {{ owned_component_json|safe }};

          const innerWidth = $(window).innerWidth();
          const svgParent = d3.select("svg").style("margin-top", "100px");
          svgParent.attr("width", innerWidth);

          const componentHeight = innerWidth/10;
          const componentWidth = innerWidth/5.5;
          const componentSpacingVertical = 50.0;
          const componentSpacingHorizontal = 30.0;
          const componentTotalSpacingVertical = componentHeight + componentSpacingVertical;
          const componentTotalSpacingHorizontal = componentWidth + componentSpacingHorizontal;

          const componentMidpointVertical = componentHeight/2.0;
          const componentMidpointHorizontal = componentWidth/2.0;

          const weekPadding = 30.0;
          const weekInfoHeight = 200.0;
          const weekVerticalSpacing = 20.0;

          const courseInfoHeight = 200.0;

          const weekWidth = 2*weekPadding+componentTotalSpacingHorizontal*4-componentSpacingHorizontal;

          const classificationLabels = ["Activity","Preparation","Assesment","Artifact"];

          function fetchThenRenderCourse(){
            d3.json("{% url 'course_flow:course-detail' pk=object.pk %}").then(function (json) {
              courseJson = json;
              renderCourse(courseJson, svgParent);
              svgParent.attr("height",Math.max(d3.select(".course").node().getBBox().height+20,$(window).innerHeight()-100));
            });
          }

          fetchThenRenderCourse();

          renderComponentBoard(svgParent, componentBoardJson);

          function renderComponentBoard(parent, jsonData){

          const boardComponents = parent.selectAll('.board-component').data(jsonData).enter()
                            .append("svg").attr("class",'board-component')
                            .attr("x", `${componentTotalSpacingHorizontal*4+50}`)
                            .attr("y", (d,i) => `${componentTotalSpacingVertical/3*i+50}`)
                            .attr("width", `${componentWidth/1.5}`).attr("height", `${componentHeight/3}`);

          boardComponents.append("rect").attr('x', 0).attr('y', 0).attr("rx", "6")
              .attr("width", `${componentWidth/1.5}`).attr("height", `${componentHeight/3}`)
              .attr("fill", "#979797").style('pointer-events', 'none');

              boardComponents
                .append('text')
                .style('font-family', 'Roboto')
                .attr('class', 'component-title')
                .attr('x', "15")
                .attr('y', "20")
                .attr('dy', 6)
                .style('font-size', componentWidth/20)
                .style('fill', "white")
                .style('pointer-events', 'none')
                .text(d => d.content_object.title);

                  const dragDropIcons = boardComponents
                    .append("g")
                    .attr("class", "drag-icon")
                    .append('image')
                    .attr('x', `${(componentWidth-30)/1.5}`)
                    .attr('y', `${10/2}`)
                    .attr("width", `${20/2}`)
                    .attr("height", `${20/2}`)
                    .attr("xlink:href","{% static 'course_flow/img/reorder-option-blue.svg' %}");


            function makeDragDropBoardComponent() {
              let widget = undefined;
              let color = undefined;
              let initX = undefined;
              let initY = undefined;

              let drags = d3
                .drag()
                .on("start", function() {
                  widget = d3.select(this);
                  dragDropIcons.style("cursor","grabbing");
                  initX = +widget.attr("x");
                  initY = +widget.attr("y");
                  color = widget.select("rect").attr("fill");
                  weeks = d3.selectAll(".week");
                  widget.select("rect").attr("filter","url(#selection-shadow)")
                        .attr('x', 3).attr('y', 2)
                        .attr("width", `${(componentWidth-10)/1.5}`).attr("height", `${(componentHeight-8)/3}`);
                  swapDiv(this);
                })
                .on("drag", function() {
                  widget.attr("x", d3.event.x-(componentWidth+10)/2).attr("y", d3.event.y-20);

                  let flag = true;

                  weeks.each(function(i,j){
                      week = d3.select(this);
                      if(flag&&(+week.attr("y")+(+week.attr("height")))>(+widget.attr("y")+(+widget.attr("height")))
                          &&(+week.attr("x")+(+week.attr("width")))>(+widget.attr("x")+(+widget.attr("width")))
                          &&+week.attr("y")<+widget.attr("y")&&+week.attr("x")<+widget.attr("x")){

                          widget.select("rect").attr("fill", "#1976BC");
                          flag = false;
                      }
                  });

                  if(flag) widget.select("rect").attr("fill", color);


                })
                .on("end", function() {

                  weeks.each(function(i,j){
                      week = d3.select(this);
                      if(+week.attr("y")+(+week.attr("height"))>(+widget.attr("y")+(+widget.attr("height")))
                          &&(+week.attr("x")+(+week.attr("width")))>(+widget.attr("x")+(+widget.attr("width")))
                          &&+week.attr("y")<+widget.attr("y")&&+week.attr("x")<+widget.attr("x")){

                            addComponent(widget.node().__data__.id, week.node().__data__.week.id);

                      }
                  });

                  dragDropIcons.style("cursor","grab");
                  widget.select("rect").attr("fill", color).attr("y", 0).attr("x",0)
                  .attr("width", `${componentWidth/1.5}`).attr("height", `${componentHeight/3}`).attr("filter", "");
                  widget.attr("x", initX).attr("y", initY).style("cursor","default");

                  widget = undefined;
                });

              drags(boardComponents);
            }
            makeDragDropBoardComponent();

        }


        let repositionBoard = function(){
          let displacement = $(window).scrollTop();
          d3.selectAll('.board-component').attr("y", (d,i) => `${componentTotalSpacingVertical/3*i+50+displacement}`);

        }

        window.addEventListener("scroll", repositionBoard);

          function renderCourse(jsonData, parent){

              d3.selectAll(".course").remove();

              const svgCourse = parent
                                  .append("svg").attr("x","0").attr("y","0")
                                  .attr("width", `${weekWidth}`)
                                  .attr("class","course");

              svgCourse
                .append('text')
                .attr('id','course-title')
                .style('font-family', 'Roboto')
                .attr('class', 'course-title')
                .attr('x', "15")
                .attr('y', "20")
                .attr('dy', 6)
                .style('font-size', 18)
                .style('fill', "white")
                .style('pointer-events', 'none')
                .text(jsonData.title);

              svgCourse
                .append('text')
                .attr('id','course-author')
                .style('font-family', 'Roboto')
                .attr('class', 'course-author')
                .attr('x', "15")
                .attr('y', "40")
                .attr('dy', 6)
                .style('font-size', 12)
                .style('fill', 'white')
                .style('pointer-events', 'none')
                .text("created by "+jsonData.author);

              svgCourse
                .append('text')
                .attr('id','course-description')
                .style('font-family', 'Roboto')
                .attr('class', 'course-description')
                .attr('x', "15")
                .attr('y', "70")
                .attr('dy', 6)
                .style('font-size', 14)
                .style('fill', "white")
                .style('pointer-events', 'none')
                .text(jsonData.description);

              svgCourse.append("g")
                .attr("class", "action-icon")
                .attr("id", "delete-course")
                .on("click", function(d,i){
                    root.currentComponentInstance.setState({
                      object: courseJson,
                      objectType: "course",
                      isCourse: true,
                      isDeleteForm: true
                    });
                    root.currentComponentInstance.dlg.MDComponent.show();
                })
                .append('image')
                .attr('x', `${weekWidth-40}`)
                .attr('y', `${60}`)
                .attr("width", `${31}`)
                .attr("height", `${31}`)
                .attr("xlink:href","{% static 'course_flow/img/rubbish-bin-delete-button.svg' %}");

              svgCourse.append("g")
                .attr("class", "action-icon")
                .attr("id", "update-course")
                .on("click", function(d,i){
                    root.currentComponentInstance.setState({
                      object: courseJson,
                      objectType: "course",
                      isCourse: true,
                      isUpdateForm: true
                    });
                    root.currentComponentInstance.dlg.MDComponent.show();
                })
                .append('image')
                .attr('x', `${weekWidth-40}`)
                .attr('y', `${15}`)
                .attr("width", `${31}`)
                .attr("height", `${31}`)
                .attr("xlink:href","{% static 'course_flow/img/pencil.svg' %}");

              svgCourse.append("g")
                .attr("class", "action-icon")
                .attr("id", "add-week")
                .on("click", function(d,i){
                    root.currentComponentInstance.setState({
                      parentID: courseJson.id,
                      objectType: "week",
                      isWeek: true
                    });
                    root.currentComponentInstance.dlg.MDComponent.show();
                })
                .append('image')
                .attr('x', `${weekWidth-40}`)
                .attr('y', `${100}`)
                .attr("width", `${31}`)
                .attr("height", `${31}`)
                .attr("xlink:href","{% static 'course_flow/img/add-square-button.svg' %}");

                for (let i=0; i<4; i++) {
                  svgCourse
                    .append('text')
                    .style('font-family', 'Roboto')
                    .attr('class','activity-classification')
                    .attr('text-anchor',"middle")
                    .attr('x', `${componentTotalSpacingHorizontal*i+componentTotalSpacingHorizontal/2}`)
                    .attr('y', "160")
                    .attr('dy', 6)
                    .style('font-size', 16)
                    .style('fill', "white")
                    .style('pointer-events', 'none')
                    .text(classificationLabels[i]);
                }


              var runningWeekHeight = courseInfoHeight;

              svgCourse.selectAll('.week').remove();


              const weeks = svgCourse.selectAll('.week').data(jsonData.weekcourse_set).enter()
                                .append("svg").attr("class","week")
                                .attr("x", "0")
                                .attr("height", (d,i)=>`${d.week.componentweek_set.length*(componentHeight+componentSpacingVertical)-componentSpacingVertical+2*weekPadding+weekInfoHeight}`)
                                .attr("width", `${weekWidth}`)
                                .each(function(d,i){

                                    d3.select(this).append("rect").attr('x', 0).attr('y', 0).attr("rx", "6").style('pointer-events', 'none')
                                        .attr("width", `${(componentWidth+componentSpacingHorizontal)*4-componentSpacingHorizontal}`)
                                        .attr("height", `${d.week.componentweek_set.length*(componentHeight+componentSpacingVertical)-componentSpacingVertical+2*weekPadding+weekInfoHeight}`)
                                        .attr("width", `${weekWidth}`)
                                        .attr("fill", "rgb(65,80,96)");
                                    renderWeek(d.week.componentweek_set, d3.select(this));
                                });

                  for(let i = 0; i<jsonData.weekcourse_set.length; i++){
                    for(let j = 0; j<jsonData.weekcourse_set.length; j++){
                      if(weeks["_groups"][0][j].__data__.rank == i){
                          d3.select(weeks["_groups"][0][j]).attr("y", `${runningWeekHeight}`);
                          runningWeekHeight += +d3.select(weeks["_groups"][0][j]).attr("height")+weekVerticalSpacing;
                      }
                    }
                  }

                    weeks
                      .append('text')
                      .style('font-family', 'Roboto')
                      .attr('class', 'week-title')
                      .attr('x', "15")
                      .attr('y', "20")
                      .attr('dy', 6)
                      .style('font-size', 18)
                      .style('fill', "white")
                      .style('pointer-events', 'none')
                      .text(d => d.week.title);

                    weeks
                      .append('text')
                      .style('font-family', 'Roboto')
                      .attr('class', 'week-author')
                      .attr('x', "15")
                      .attr('y', "40")
                      .attr('dy', 6)
                      .style('font-size', 12)
                      .style('fill', 'white')
                      .style('pointer-events', 'none')
                      .text(d=> "created by "+d.week.author);

                  weeks.append("g")
                    .attr("class", "action-icon delete-week")
                    .on("mousedown", function(d,i){
                        root.currentComponentInstance.setState({
                          object: d3.select(this.parentNode).node().__data__.week,
                          objectType: "week",
                          isWeek: true,
                          isDeleteForm: true
                        });
                        root.currentComponentInstance.dlg.MDComponent.show();
                    })
                    .append('image')
                    .attr('x', `${weekWidth-40}`)
                    .attr('y', `${90}`)
                    .attr("width", `${31}`)
                    .attr("height", `${31}`)
                    .attr("xlink:href","{% static 'course_flow/img/rubbish-bin-delete-button.svg' %}");

                  weeks.append("g")
                    .attr("class", "action-icon update-week")
                    .on("mousedown", function(d,i){
                        root.currentComponentInstance.setState({
                          object: d3.select(this.parentNode).node().__data__.week,
                          objectType: "week",
                          isWeek: true,
                          isUpdateForm: true
                        });
                        root.currentComponentInstance.dlg.MDComponent.show();
                    })
                    .append('image')
                    .attr('x', `${weekWidth-40}`)
                    .attr('y', `${45}`)
                    .attr("width", `${31}`)
                    .attr("height", `${31}`)
                    .attr("xlink:href","{% static 'course_flow/img/pencil.svg' %}");

                  weeks.append("g")
                    .attr("class", "action-icon add-component")
                    .on("mousedown", function(d,i){
                        root.currentComponentInstance.setState({
                          parentID: d3.select(this.parentNode).node().__data__.week.id,
                          isCourseLevelComponent: true
                        });
                        root.currentComponentInstance.dlg.MDComponent.show();
                    })
                    .append('image')
                    .attr('x', `${weekWidth-40}`)
                    .attr('y', `${135}`)
                    .attr("width", `${31}`)
                    .attr("height", `${31}`)
                    .attr("xlink:href","{% static 'course_flow/img/add-square-button.svg' %}");

                const dragDropIcons =  weeks.append("g")
                    .attr("class", "drag-icon")
                    .append('image')
                    .attr('x', `${weekWidth-30}`)
                    .attr('y', `${10}`)
                    .attr("width", `${20}`)
                    .attr("height", `${20}`)
                    .attr("xlink:href","{% static 'course_flow/img/reorder-option (1).svg' %}");



              function makeDragDropWeek() {
                let widget = undefined;
                let color = undefined;
                let widgetData = undefined;
                let initYAxis = undefined;

                let drags = d3
                  .drag()
                  .on("start", function() {
                    widget = d3.select(this);
                    d3.selectAll(".week").attr("height", weekInfoHeight).attr("y",(d,i)=>d.rank*(weekInfoHeight+weekVerticalSpacing)+weekInfoHeight).select("rect").attr("height", weekInfoHeight);
                    widget.select("rect").attr("filter","url(#selection-shadow)")
                          .attr('x', 5).attr('y', 4)
                          .attr("width", +widget.attr("width")-10).attr("height", +widget.attr("height")-8);
                    widgetData = widget.node().__data__;
                    initYAxis = widget.attr("y");
                    swapDiv(this);
                    dragDropIcons.style("cursor","grabbing");
                  })
                  .on("drag", function() {
                    widget.attr("y", `${d3.event.y-15}`);
                    d3.event.x = weekWidth-15;
                    if(d3.event.y<initYAxis){
                        weeks.each(function(d,i) { if((d.rank == widgetData.rank-1)&&((+d3.select(this).attr("y")+(+d3.select(this).attr("height"))/2)>=+widget.attr("y"))){
                          [d.rank, widgetData.rank] = [widgetData.rank, d.rank];
                          d3.select(this).attr("y",`${+d3.select(this).attr("y")+(+widget.attr("height"))}`);
                        }});
                    }
                    else{
                      weeks.each(function(d,i) { if((d.rank == widgetData.rank+1)&&((+d3.select(this).attr("y")+(+d3.select(this).attr("height"))/2)<=(+widget.attr("y")+(+widget.attr("height"))))){
                        [d.rank, widgetData.rank] = [widgetData.rank, d.rank];
                        d3.select(this).attr("y",`${+d3.select(this).attr("y")-(+widget.attr("height"))}`);
                      }});
                    }
                    initYAxis = d3.event.y;
                  })
                  .on("end", function() {
                    let yRealignPos = 0;
                    weeks.each(function(d,i) {
                        if(d3.select(this).node().__data__.rank<widgetData.rank){
                           yRealignPos += +d3.select(this).attr("height");
                        }
                    });
                    widget.attr("y", `${yRealignPos}`);
                    widget.select("rect").attr("filter","")
                          .attr('x', 0).attr('y', 0)
                          .attr("width", +widget.attr("width")).attr("height", +widget.attr("height"));
                    dragDropIcons.style("cursor","grab");
                    updateJson();
                    renderCourse(jsonData, parent);
                    widget = undefined;
                  });

                drags(weeks);
              }

              makeDragDropWeek();

          }


          function pathToNextSiblingRect(s, i) {
            path = "M" + (s[i].x.animVal.value+componentMidpointHorizontal) + "," + (s[i].y.animVal.value+componentHeight) + "C" + (s[i].x.animVal.value+componentMidpointHorizontal) + ","
                    + (s[i].y.animVal.value + componentHeight + s[i+1].y.animVal.value) / 2 + " " + (s[i+1].x.animVal.value+componentMidpointHorizontal) + "," +  (s[i].y.animVal.value + componentHeight + s[i+1].y.animVal.value) / 2
                    + " " + (s[i+1].x.animVal.value+componentMidpointHorizontal) + "," + s[i+1].y.animVal.value;
            return path
          }





          function renderComponentLinks(svg){

              svg.selectAll('path').remove();

              let rects = svg.selectAll('.component')['_groups'][0];

              console.log(rects);

              sortedRects = [rects.length];

              console.log(rects.length)

              for(let i=0; i<rects.length; i++){
                  for(let j=0; j<rects.length; j++){
                  if(i==rects[j].__data__.rank){
                      sortedRects[i]=rects[j];
                  }
                  else if(rects[j].__data__.rank<0) sortedRects[0]=rects[j];
                  else if(rects[j].__data__.rank>rects.length-1) sortedRects[rects.length-1]=rects[j];
                }
              }

              console.log(sortedRects);

              for(let i=0; i<rects.length-1; i++){
                  svg.append("path")
                      .style("stroke", "black")
                      .style("stroke-width", 3)
                      .attr('fill', 'none')
                      .attr("d",  pathToNextSiblingRect(sortedRects, i));


              }


          }


          function renderWeek(componentWeekSet, svg){

            svg.selectAll('.component').remove();

            const components = svg.selectAll('.component').data(componentWeekSet).enter()
                              .append("svg").attr("class","component")
                              .attr("x", (d,i) => `${componentTotalSpacingHorizontal*d.component.content_type+weekPadding}`)
                              .attr("y", (d,i) => `${componentTotalSpacingVertical*d.rank+weekPadding+weekInfoHeight}`);

            components.append("rect").attr('x', 0).attr('y', 0).attr("rx", "6").attr("class","component-rect")
                .attr("fill","#1976BC").attr("width", `${componentWidth}`).attr("height", `${componentHeight}`).style('pointer-events', 'none');

            components
              .append('text')
              .style('font-family', 'Roboto')
              .attr('class', 'component-title')
              .attr('x', "15")
              .attr('y', "20")
              .attr('dy', 6)
              .style('font-size', 18)
              .style('fill', "white")
              .style('pointer-events', 'none')
              .text(d => d.component.content_object.title);

              components
                .append('text')
                .style('font-family', 'Roboto')
                .attr('class', 'component-author')
                .attr('x', "15")
                .attr('y', "40")
                .attr('dy', 6)
                .style('font-size', 12)
                .style('fill', 'white')
                .style('pointer-events', 'none')
                .text(d=> "created by "+d.component.content_object.author);

                components
                  .append('text')
                  .style('font-family', 'Roboto')
                  .attr('class', 'component-description')
                  .attr('x', "15")
                  .attr('y', "70")
                  .attr('dy', 6)
                  .style('font-size', 14)
                  .style('fill', "white")
                  .style('pointer-events', 'none')
                  .text(d => d.component.content_object.description);

                components.append("g")
                  .attr("class", "action-icon delete-component")
                  .on("mousedown", function(d,i){
                      root.currentComponentInstance.setState({
                        object: d3.select(this.parentNode).node().__data__.component.content_object,
                        objectType: d3.select(this.parentNode).node().__data__.component.content_type_in_text,
                        linkID: d3.select(this.parentNode).node().__data__.id,
                        isCourseLevelComponent: true,
                        isDeleteForm: true
                      });
                      root.currentComponentInstance.dlg.MDComponent.show();
                  })
                  .append('image')
                  .attr('x', `${componentWidth-40}`)
                  .attr('y', `${componentHeight-45}`)
                  .attr("width", `${31}`)
                  .attr("height", `${31}`)
                  .attr("xlink:href","{% static 'course_flow/img/rubbish-bin-delete-button.svg' %}");

                components.append("g")
                  .attr("class", "action-icon update-component")
                  .on("mousedown", function(d,i){
                      if (d3.select(this.parentNode).node().__data__.component.content_type_in_text == "activity") {
                        window.location.href = "{% url 'course_flow:activity-update' pk=0 %}".replace("0", d3.select(this.parentNode).node().__data__.component.content_object.id);
                      } else {
                        root.currentComponentInstance.setState({
                          object: d3.select(this.parentNode).node().__data__.component.content_object,
                          objectType: d3.select(this.parentNode).node().__data__.component.content_type_in_text,
                          isCourseLevelComponent: true,
                          isUpdateForm: true
                        });
                        root.currentComponentInstance.dlg.MDComponent.show();
                      }
                  })
                  .append('image')
                  .attr('x', `${componentWidth-40}`)
                  .attr('y', `${componentHeight-90}`)
                  .attr("width", `${31}`)
                  .attr("height", `${31}`)
                  .attr("xlink:href","{% static 'course_flow/img/pencil.svg' %}");

                const dragDropIcons = components.append("g")
                  .attr("class", "drag-icon")
                  .append('image')
                  .attr('x', `${componentWidth-30}`)
                  .attr('y', `${10}`)
                  .attr("width", `${20}`)
                  .attr("height", `${20}`)
                  .attr("xlink:href","{% static 'course_flow/img/reorder-option (1).svg' %}");





            renderComponentLinks(svg);

              function reorderByRank(previousRank, newRank){
                  components.each(function(d,i) { if(d.rank == newRank){
                    d.rank=previousRank;
                    d3.select(this).attr("y",`${d.rank*componentTotalSpacingVertical+weekPadding+weekInfoHeight}`);
                  }});
              }

          function makeDragDropComponent() {
            let widget = undefined;
            let color = undefined;
            let initRank = undefined;
            let currentRank = undefined;
            let initXAxis = undefined;
            let currentClassification = undefined;
            let widgetData = undefined;

            let drags = d3
              .drag()
              .on("start", function() {
                widget = d3.select(this);
                color = widget.select("rect").attr("fill");
                widget.select("rect").attr("filter","url(#selection-shadow)")
                      .attr('x', 5).attr('y', 4)
                      .attr("width", `${componentWidth-10}`).attr("height", `${componentHeight-8}`);
                dragDropIcons.style("cursor","grabbing");
                widgetData = widget.node().__data__;
                initRank = widgetData.rank;
                initXAxis = +widget.attr("x");
                swapDiv(this);
              })
              .on("drag", function() {
                widget.attr("x", d3.event.x-componentWidth+20).attr("y", d3.event.y-20);
                currentRank = Math.round((widget.attr("y")-weekPadding-weekInfoHeight)/componentTotalSpacingVertical);
                if(currentRank != initRank){
                    reorderByRank(initRank, currentRank);
                    widgetData.rank = currentRank;
                    initRank = currentRank;
                }
                renderComponentLinks(svg, componentMidpointHorizontal);
              })
              .on("end", function() {
                if (widgetData.rank < 0) widgetData.rank = 0;
                if (widgetData.rank > componentWeekSet.length-1) widgetData.rank = componentWeekSet.length-1;
                widget.select("rect").attr("fill", color).attr("y", 0).attr("x",0)
                  .attr("width", `${componentWidth}`).attr("height", `${componentHeight}`).attr("filter", "");
                widget.attr("y",(d,i)=>`${d.rank*componentTotalSpacingVertical+weekPadding+weekInfoHeight}`)
                    .attr("x", `${initXAxis}`);
                dragDropIcons.style("cursor","grab");
                updateJson();
                renderComponentLinks(svg, componentMidpointHorizontal);
                widget = undefined;
              });

            drags(components);
          }
          makeDragDropComponent();

      }

      function swapDiv(referenceNode){
          referenceNode.parentNode.insertBefore(referenceNode, referenceNode.parentNode.lastChild.nextSibling);
      }

      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
              }
          },
          success: function(){
            fetchThenRenderCourse();
          }
      });

      function csrfSafeMethod(method) {

          return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
      }
      function getCsrfToken() {
          return document
            .getElementsByName("csrfmiddlewaretoken")[0]
            .getAttribute("value");
        }
      function updateJson(){
        let posting = $.post("{% url 'course_flow:update-course-json' %}", {json: JSON.stringify(courseJson)});
        posting.done(function(data) {
          console.info(data);
      });
    }

      function addComponent(componentPk, weekPk){
        let posting = $.post("{% url 'course_flow:add-component-to-course' %}", {componentPk: componentPk, weekPk: weekPk});
      }

  });
</script>
{% endblock %}
