{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block header %}
{% endblock %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block body %}
<div id="content-container" class="body-wrapper">
    
</div>
<!-- -->
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    userFeedback.injectDialog(
      "{% trans 'Let us know how we can improve your experience!' %}",
      "{% static 'course_flow/brand/SCIVERO-LOGO-DARK.png' %}",
      "{% trans 'Thanks for your feedback!' %}",
      "{% trans 'Sorry, please try again later!' %}",
      "{% url 'user_feedback:post' %}"
    );
  });
</script>

<script nonce="{{request.csp_nonce}}">
    
    const iconpath = "{% static 'course_flow/img/images_svg/' %}";
    const detail_path = {
        project:"{% url 'course_flow:project-detail-view' pk='0'%}",
        activity:"{% url 'course_flow:workflow-detail-view' pk='0'%}",
        course:"{% url 'course_flow:workflow-detail-view' pk='0'%}"
    };
    const update_path = {
        project:"{% url 'course_flow:project-update' pk='0'%}",
        activity:"{% url 'course_flow:workflow-update' pk='0'%}",
        course:"{% url 'course_flow:workflow-update' pk='0'%}"
    };
    const create_path = {
        project:"{% url 'course_flow:project-create' %}",
        activity:"{% url 'course_flow:activity-strategy-create' %}",
        course:"{% url 'course_flow:course-strategy-create' %}"
    };
    const data_package = {{project_data_package|safe}}
    const user_id = {{ user.id }};
    const read_only=false;
    window.addEventListener("load",function(){
        workflow_redux.renderHomeMenu(data_package);
    });
    
    fileLoader = document.createElement('input');
    fileLoader.type="file";
    fileLoader.accept=".json";
    fileLoader.addEventListener('change',()=>{
        let loader = new workflow_redux.Loader('body');
        let reader = new FileReader();
        reader.readAsText(fileLoader.files[0]);
        reader.onload = (evt)=>{
            let readData = evt.target.result;
            console.log(readData);
            $.post("{% url 'course_flow:project-from-json' %}", {
                jsonData:readData
            }).done(function(data){
                loader.endLoad();
                if(data.action == "posted") window.location.reload();
                else console.log("Failed");
            });
        }
    });
    
    $("#viewbar").append("<div id='import-old-file'></div>");
    $("<button>Import old file</button>").appendTo("#import-old-file").on("click",()=>{
        fileLoader.click();
    });
    
    
    //Causes the specified object to delete itself
    function deleteSelf(objectID,objectType,callBackFunction=()=>console.log("success")){
        $.post("{% url 'course_flow:delete-self' %}", {
            objectID:JSON.stringify(objectID),
            objectType:JSON.stringify(objectType)
        }).done(function(data){
            if(data.action == "posted") callBackFunction(data);
            else console.log("Failed");
        });
    }
</script>


{% endblock %}
