{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %} {% load course_flow_templatetags %}
<!-- -->
{% block header %} {% endblock %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block body %}

<!-- -->
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %} {{ block.super }}
<script nonce="{{request.csp_nonce}}">

  const iconpath = "{% static 'course_flow/img/images_svg/' %}";

  var home_renderer;
  const user_id = {{ user.id }};

  window.addEventListener("load",function(){
      home_renderer = new library_renderers.HomeRenderer();
      $(document).ajaxError(renderers.fail_function);
      home_renderer.render($("#container"));
  });
</script>
{% endblock %}
