{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block header %}{% endblock %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block body %}
<!-- -->
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block read_only_scripts %}

{% endblock %}
<!-- -->
{% block scripts %} {{ block.super }}
<script nonce="{{request.csp_nonce}}">

  const iconpath = "{% static 'course_flow/img/images_svg/' %}";
  
  const create_path = {
      activity_strategy:"{% url 'course_flow:activity-strategy-create' %}",
      course_strategy:"{% url 'course_flow:course-strategy-create' %}",
      project:"{% url 'course_flow:project-create' %}"
  }
  
  $(".menubar").removeClass("hidden");

  var library_renderer;
  const user_id = {{ user.id }};

  window.addEventListener("load",function(){
      library_renderer = new library_renderers.LibraryRenderer();
      $(document).ajaxError(renderers.fail_function);
      library_renderer.render($("#container"));
      makeActiveSidebar("#panel-my-library");
  });
</script>
{% endblock %}
