{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block header %} {% endblock %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block body %}
<div id="content-container" class="body-wrapper"></div>
<div id="popup-container"></div>
<!-- -->
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %} {{ block.super }}
<script nonce="{{request.csp_nonce}}">

  const iconpath = "{% static 'course_flow/img/images_svg/' %}";
  const update_path = {
      project:"{% url 'course_flow:project-update' pk='0'%}",
      activity:"{% url 'course_flow:workflow-update' pk='0'%}",
      course:"{% url 'course_flow:workflow-update' pk='0'%}",
      program:"{% url 'course_flow:workflow-update' pk='0'%}"
  };
  const create_path = {
      project:"{% url 'course_flow:project-create' %}",
  };
  const data_package = {{project_data_package|safe}}
  var home_renderer;
  const user_id = {{ user.id }};
  const read_only=false;
  window.addEventListener("load",function(){
      home_renderer = new renderers.HomeRenderer(data_package);
      $(document).ajaxError(renderers.fail_function);
      home_renderer.render($("#content-container"));
  });




  //Causes the specified object to delete itself
  function deleteSelf(objectID,objectType,callBackFunction=()=>console.log("success")){
      $.post("{% url 'course_flow:delete-self' %}", {
          objectID:JSON.stringify(objectID),
          objectType:JSON.stringify(objectType)
      }).done(function(data){
          if(data.action == "posted") callBackFunction(data);
          else console.log("Failed");
      });
  }
</script>
{% endblock %}
