{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block header %}{% endblock %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block body %}
<div id=container class="body-wrapper"></div><div id="popup-container"></div>
<div id="sidebar" class="side-bar">
    <ul>
        <li><a href="#edit-menu"><img src="{% static 'course_flow/img/images_svg/pencil-blue.svg' %}"/></a></li>
    </ul>
    <div id="edit-menu" class="right-panel-container"></div>
</div>
<!-- -->
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block read_only_scripts %}

<script nonce="{{request.csp_nonce}}">
    
    const read_only=false;
    
</script>

{% endblock %}
<!-- -->
{% block scripts %}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    userFeedback.injectDialog(
      "{% trans 'Let us know how we can improve your experience!' %}",
      "{% static 'course_flow/brand/SCIVERO-LOGO-DARK.png' %}",
      "{% trans 'Thanks for your feedback!' %}",
      "{% trans 'Sorry, please try again later!' %}",
      "{% url 'user_feedback:post' %}"
    );
  });
</script>


<script nonce="{{request.csp_nonce}}">
    
    const iconpath = "{% static 'course_flow/img/images_svg/' %}";
    var selection_manager;
    
    initial_data = {{data_flat|safe}}
    console.log(initial_data);
    const user_id = {{ user.id }};
    const initial_loading=false;
    
    $("#sidebar").tabs({collapsible:true,active:0,disabled:null});

    $("#sidebar").on("click",(evt)=>{evt.stopPropagation()});    

    $("#floatbar").append("<a href={% url 'course_flow:project-update' pk=parent_project_pk %} class='floatbardiv'><img src='"+iconpath+"goback.svg'/><div>Project</div></div>");
    
    window.addEventListener("load",function(){
        selection_manager = new workflow_redux.SelectionManager();
        outcome_scripts.renderOutcomeView($("#container").get()[0]);
    });
    
    
    /*
//Causes the specified object to delete itself
function deleteSelf(objectID,objectType,callBackFunction=()=>console.log("success")){
    $.post("{% url 'course_flow:delete-self' %}", {
        objectID:JSON.stringify(objectID),
        objectType:JSON.stringify(objectType)
    }).done(function(data){
        if(data.action == "posted") callBackFunction(data);
        else console.log("Failed");
    });
}
   
function updateValue(objectID,objectType,json,callBackFunction=()=>console.log("success")){
    var t = 1000;
    let previousCall = this.lastUpdateCall;
    this.lastUpdateCall = {time:Date.now(),id:objectID,type:objectType,field:Object.keys(json)[0]};
    
    if(previousCall && ((this.lastUpdateCall.time-previousCall.time)<=t)){
        clearTimeout(this.lastUpdateCallTimer);
    }
    if(previousCall && (previousCall.id!=this.lastUpdateCall.id || previousCall.type!=this.lastUpdateCall.type ||previousCall.field!=this.lastUpdateCall.field)){
       this.lastUpdateCallFunction();
    }
    this.lastUpdateCallFunction = ()=>{
        $.post("{% url 'course_flow:update-value' %}", {
            objectID:JSON.stringify(objectID),
            objectType:JSON.stringify(objectType),
            data:JSON.stringify(json)
        }).done(function(data){
            if(data.action == "posted") callBackFunction(data);
            else console.log("Failed");
        });
    }
    this.lastUpdateCallTimer = setTimeout(lastUpdateCallFunction,t);
}
    
    
//Causes the specified object to insert a sibling after itself
function duplicateSelf(objectID,objectType,parentID,callBackFunction=()=>console.log("success")){
    $.post("{% url 'course_flow:duplicate-self' %}", {
        parentID:JSON.stringify(parentID),
        objectID:JSON.stringify(objectID),
        objectType:JSON.stringify(objectType),
    }).done(function(data){
        if(data.action == "posted") callBackFunction(data);
        else console.log("Failed");
    });
}
//Causes the specified object to insert a sibling after itself
function insertSibling(objectID,objectType,parentID,callBackFunction=()=>console.log("success")){
    $.post("{% url 'course_flow:insert-sibling' %}", {
        parentID:JSON.stringify(parentID),
        objectID:JSON.stringify(objectID),
        objectType:JSON.stringify(objectType),
    }).done(function(data){
        if(data.action == "posted") callBackFunction(data);
        else console.log("Failed");
    });
}

//Causes the specified object to insert a child to itself
function insertChild(objectID,objectType,callBackFunction=()=>console.log("success")){
    $.post("{% url 'course_flow:insert-child' %}", {
        objectID:JSON.stringify(objectID),
        objectType:JSON.stringify(objectType),
    }).done(function(data){
        if(data.action == "posted") callBackFunction(data);
        else console.log("Failed");
    });
}
    
//Called when an object in a list is reordered
function insertedAt(objectID,objectType,parentID,newPosition,callBackFunction=()=>console.log("success")){
    console.log("CALLED INSERTED AT");
    $(document).off(objectType+"-dropped.insert");
    $(document).on(objectType+"-dropped.insert",()=>{
        console.log("POSTING");
        console.log(parentID);
        $.post("{% url 'course_flow:inserted-at' %}", {
            objectID:JSON.stringify(objectID),
            objectType:JSON.stringify(objectType),
            parentID:JSON.stringify(parentID),
            newPosition:JSON.stringify(newPosition),
        }).done(function(data){
            if(data.action == "posted") callBackFunction(data);
            else console.log("Failed");
        });
    });
}*/
    
</script>
{% endblock %}
