{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block header %}{% endblock %}
<!-- -->
{% block body %}
<svg width="2000" height="2000" />
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %}

<script nonce="{{ request.csp_nonce }}">
        window.addEventListener("load", function(){

          userFeedback.injectDialog(
            "{% trans 'Let us know how we can improve your experience!' %}",
            "{% static 'course_flow/brand/SCIVERO-LOGO-DARK.png' %}",
            "{% trans 'Thanks for your feedback!' %}",
            "{% trans 'Sorry, please try again later!' %}"
          );

          let programJson = null;

          const innerWidth = $(window).innerWidth();
          const svgParent = d3.select("svg").style("margin-top", "100px");
          svgParent.attr("width", innerWidth);

          const componentHeight = innerWidth/8;
          const componentWidth = innerWidth/2.3;
          const componentSpacingVertical = 50.0;
          const componentSpacingHorizontal = 90.0;
          const componentTotalSpacingVertical = componentHeight + componentSpacingVertical;
          const componentTotalSpacingHorizontal = componentWidth + componentSpacingHorizontal;

          const componentMidpointVertical = componentHeight/2.0;
          const componentMidpointHorizontal = componentWidth/2.0;

          const programPadding = 30.0;

          const programInfoHeight = 200.0;

          const programWidth = 2*programPadding+componentTotalSpacingHorizontal*2-componentSpacingHorizontal;

          const classificationLabels = ["Course","Assesment"];


          function fetchThenRenderProgram(){
            d3.json("{% url 'course_flow:program-detail' pk=object.pk %}").then(function (json) {
              programJson = json;
              renderProgram(programJson, svgParent);
              d3.select(".program").attr("height",Math.max(d3.select(".program").node().getBBox().height,$(window).innerHeight()-100));
              svgParent.attr("height",Math.max(d3.select(".program").node().getBBox().height+20,$(window).innerHeight()-100));
            });
          }

          fetchThenRenderProgram();

          function renderProgram(programJson, parent){

              d3.selectAll(".program").remove();

              const program = parent
                                  .append("svg").attr("x","0").attr("y","0")
                                  .attr("width", `${programWidth}`)
                                  .attr("height", `${programJson.componentprogram_set.length*componentTotalSpacingVertical-componentSpacingVertical+2*programPadding+programInfoHeight}`)
                                  .attr("class","program");


              program
                .append('text')
                .attr('id','program-title')
                .style('font-family', 'Roboto')
                .attr('x', "15")
                .attr('y', "20")
                .attr('dy', 6)
                .style('font-size', 18)
                .style('fill', "white")
                .style('pointer-events', 'none')
                .text(programJson.title);

              program
                .append('text')
                .attr('id','program-author')
                .style('font-family', 'Roboto')
                .attr('x', "15")
                .attr('y', "40")
                .attr('dy', 6)
                .style('font-size', 12)
                .style('fill', 'white')
                .style('pointer-events', 'none')
                .text("created by "+programJson.author);

              program
                .append('text')
                .attr('id','program-description')
                .style('font-family', 'Roboto')
                .attr('x', "15")
                .attr('y', "70")
                .attr('dy', 6)
                .style('font-size', 14)
                .style('fill', "white")
                .style('pointer-events', 'none')
                .text(programJson.description);

              {% if user == object.author %}

              program.append("g")
                .attr('id','update-program')
                .attr("class", "action-icon")
                .on("click", function(d,i){
                  window.location.href = "{% url 'course_flow:program-update' pk=object.pk %}";
                })
                .append('image')
                .attr('x', `${programWidth-40}`)
                .attr('y', `${15}`)
                .attr("width", `${31}`)
                .attr("height", `${31}`)
                .attr("xlink:href","{% static 'course_flow/img/pencil.svg' %}");

              {% endif %}


                for (let i=0; i<2; i++) {
                  program
                    .append('text')
                    .style('font-family', 'Roboto')
                    .attr('class','activity-classification')
                    .attr('text-anchor',"middle")
                    .attr('x', `${componentTotalSpacingHorizontal*i+componentTotalSpacingHorizontal/2}`)
                    .attr('y', "160")
                    .attr('dy', 6)
                    .style('font-size', 16)
                    .style('fill', "white")
                    .style('pointer-events', 'none')
                    .text(classificationLabels[i]);
                }

                renderComponents(programJson.componentprogram_set, program);


          }


          function pathToNextSiblingRect(s, i) {
            path = "M" + (s[i].x.animVal.value+componentMidpointHorizontal) + "," + (s[i].y.animVal.value+componentHeight) + "C" + (s[i].x.animVal.value+componentMidpointHorizontal) + ","
                    + (s[i].y.animVal.value + componentHeight + s[i+1].y.animVal.value) / 2 + " " + (s[i+1].x.animVal.value+componentMidpointHorizontal) + "," +  (s[i].y.animVal.value + componentHeight + s[i+1].y.animVal.value) / 2
                    + " " + (s[i+1].x.animVal.value+componentMidpointHorizontal) + "," + s[i+1].y.animVal.value;
            return path
          }





          function renderComponentLinks(svg){

              svg.selectAll('path').remove();

              let rects = svg.selectAll('.component')['_groups'][0];

              sortedRects = [rects.length];

              for(let i=0; i<rects.length; i++){
                  for(let j=0; j<rects.length; j++){
                  if(i==rects[j].__data__.rank){
                      sortedRects[i]=rects[j];
                  }
                  else if(rects[j].__data__.rank<0) sortedRects[0]=rects[j];
                  else if(rects[j].__data__.rank>rects.length-1) sortedRects[rects.length-1]=rects[j];
                }
              }


              for(let i=0; i<rects.length-1; i++){
                  svg.append("path")
                      .style("stroke", "black")
                      .style("stroke-width", 3)
                      .attr('fill', 'none')
                      .attr("d",  pathToNextSiblingRect(sortedRects, i));


              }


          }


          function renderComponents(componentProgramSet, svg){

            svg.selectAll('.component').remove();

            const components = svg.selectAll('.component').data(componentProgramSet).enter()
                              .append("svg").attr("class","component")
                              .attr("x", (d,i) => `${componentTotalSpacingHorizontal*d.component.content_type+programPadding}`)
                              .attr("y", (d,i) => `${componentTotalSpacingVertical*d.rank+programPadding+programInfoHeight}`);

            components.append("rect").attr('x', 0).attr('y', 0).attr("rx", "6").attr("class","component-rect")
                .attr("fill","rgb(65,80,96)").attr("width", `${componentWidth}`).attr("height", `${componentHeight}`).style('pointer-events', 'none');

            components
              .append('text')
              .style('font-family', 'Roboto')
              .attr('class', 'component-title')
              .attr('x', "15")
              .attr('y', "25")
              .attr('dy', 6)
              .style('font-size', componentHeight/10)
              .style('fill', "white")
              .style('pointer-events', 'none')
              .text(d => d.component.content_object.title);

              components
                .append('text')
                .style('font-family', 'Roboto')
                .attr('class', 'component-author')
                .attr('x', "15")
                .attr('y', "45")
                .attr('dy', 6)
                .style('font-size', componentHeight/16)
                .style('fill', 'white')
                .style('pointer-events', 'none')
                .text(d=> "created by "+d.component.content_object.author);

                function wrap(text, width) {
                    text.each(function() {
                      var text = d3.select(this),
                          words = text.text().split(/\s+/).reverse(),
                          word,
                          line = [],
                          lineNumber = 0,
                          lineHeight = 1.5, // ems
                          y = text.attr("y")
                          x = text.attr("x"),
                          dy = parseFloat(text.attr("dy")),
                          tspan = text.text(null).append("tspan").attr("x", x).attr("y", y).attr("dy", dy + "em");
                      while (word = words.pop()) {
                        line.push(word);
                        tspan.text(line.join(" "));
                        if (tspan.node().getComputedTextLength() > width) {
                          line.pop();
                          tspan.text(line.join(" "));
                          line = [word];
                          tspan = text.append("tspan").attr("x", x).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
                        }
                      }
                    });
                  }

                components
                  .append('text')
                  .style('font-family', 'Roboto')
                  .attr('class', 'component-description')
                  .attr('x', "15")
                  .attr('y', "5")
                  .attr('dy', 6)
                  .style('font-size', componentHeight/14)
                  .style('fill', "white")
                  .style('pointer-events', 'none')
                  .text(d => d.component.content_object.description)
                  .call(wrap, componentWidth-80);


                components.append("g")
                  .attr("class", function(d,i){
                    if( d3.select(this.parentNode).node().__data__.component
                      .content_type_in_text == "course"
                      ){
                        return "action-icon view-component";
                      }else{
                        return "";
                      }
                  })
                  .on("mousedown", function(d, i) {
                    if( d3.select(this.parentNode).node().__data__.component
                      .content_type_in_text == "course"
                      ){
                      window.location.href = "{% url 'course_flow:course-detail-view' pk=0 %}".replace(
                          "0",
                          d3.select(this.parentNode).node().__data__.component
                            .content_object.id
                        );
                    }
                  })
                  .append('image')
                  .attr('x', `${componentWidth-40}`)
                  .attr('y', `${10}`)
                  .attr("width", `${31}`)
                  .attr("height", `${31}`)
                  .attr("xlink:href","{% static 'course_flow/img/pageview-grey.svg' %}")
                  .style("opacity", function(d, i){
                    if(
                      d3.select(this.parentNode).node().__data__.component
                        .content_type_in_text == "course"
                    ){
                      return "1";
                    }else{
                      return "0";
                    }
                  });


            renderComponentLinks(svg);

      }

  });
</script>
{% endblock %}
