{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block title %}{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block header %}{% endblock %}
<!-- -->
{% block body %}
<svg width="500" height="100">
  <defs>
    <filter id="selection-shadow">
      <feDropShadow dx="1" dy="1" stdDeviation="2" />
    </filter>
  </defs>
</svg>
<h1>
  {% trans 'Create a project.' %}
</h1>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <input id="save-button" type="submit" value="Save" />
</form>
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    const feedback = () => {
      return user_feedback.h(user_feedback.App, {
        acceptText: "{% trans 'Send' %}",
        cancelText: "{% trans 'Cancel' %}",
        charCountText: "{% trans 'characters remaining' %}",
        description: "{% trans 'Leave feedback or get help' %}",
        feedbackTypes: [
          { value: 1, text: "Bug report" },
          { value: 2, text: "Feature request" },
          { value: 3, text: "General feedback" }
        ],
        menuFeedbackText: "{% trans 'Give Feedback' %}",
        menuHelpText: "{% trans 'Tutorials and Forums' %}",
        menuHelpUrl: "#",
        placeholder: "{% trans 'Let us know what is on your mind...' %}",
        snackbarError:
          "{% trans 'An error occurred.  Please try again later.' %}",
        snackbarSuccess: "{% trans 'Thanks for your feedback!' %}",
        text: "",
        title: "{% trans 'How can we improve your experience?' %}",
        url: "{% url 'user_feedback:post' %}"
      });
    };
    user_feedback.render(
      feedback(),
      document.getElementById("user-feedback-app")
    );
  });
</script>
{% endblock %}
