[flake8]
ignore = E203 \  # whitespace before ':'
         W503 \  # linebreak before binary operator
         F811 \  # redefining unused variable (thrown with pytest)
         D100 \  # missing docstring in module
         D101 \  # missing docstring in class
         D102 \  # missing docstring in method
         D103    # missing docstring in function
per-file-ignores =
  test_functional.py: F841
  test_models.py: F841
  models.py: E501
max-line-length = 88
