.dccache
*.egg-info
*.ipynb
*.ipynb_checkpoints/
*.log
*.mypy_cache/
*.py[cdo]
*.pyc
*.rdb
.*requirements-timestamp
.coverage
.data/
.pytest_cache/
.tern-port
.tox/
.venv
*venv*/
/CACHE
/course_flow/local_settings.py
/htmlcov
/log
/media
/media
/node_modules
/sent_emails
/static
/server_static
/*venv*/
last_export.*
locust*
logs
mysql_scripts/
partner*.png
pytest-logs.txt
scripts/
src
!/course_flow/static/course_flow/js/src/
tags

# Django stuff:
*.log
*.sqlite3
*.sqlite3-journal
db.sqlite3
db.sqlite3-journal
local_settings.py

#Local Scripts:
*_local.sh
