*.py[cdo]
.coverage
.*requirements-timestamp
/course_flow_maker/local_settings.py
/log
/media
/static
src
locust*
/sent_emails
*.log
/node_modules
/CACHE
partner*.png
.pytest_cache/
.venv
tags
*.mypy_cache/
*.pyc
/htmlcov
/media
pytest-logs.txt
*.ipynb_checkpoints/
*.ipynb
scripts/
mysql_scripts/
.tern-port
.data/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

*.min.css
*.min.js
*.min.css.map
*.min.js.map
