.dccache
*.egg-info
*.ipynb
*.ipynb_checkpoints/
*.log
*.mypy_cache/
*.py[cdo]
*.pyc
*.rdb
.*requirements-timestamp
.coverage
.data/
.pytest_cache/
.tern-port
*venv*/
/course_flow/local_settings.py
/log
/media
/sent_emails
/static
/server_static
/*venv*/
logs
pytest-logs.txt
!/course_flow/static/course_flow/js/other/src/
/course_flow/static/course_flow/js/other/dist/_virtual

# Django stuff:
*.sqlite3
*.sqlite3-journal
assets/db.sqlite3
db.sqlite3-journal
local_settings.py

#Local Scripts:
*_local.sh
/.env
/react/node_modules/
/react/build/
/react/dist/
dist
/course_flow/static/course_flow/js/react/dist/

dump.rdb
setup-data.sh
assets
