exclude: "^$"
fail_fast: false
repos:
  - repo: https://github.com/ambv/black
    rev: 18.9b0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: safety
        name: safety
        entry: safety check
        language: system
        always_run: true
        exclude: ".*"
      - id: npm-audit
        name: npm-audit
        language: system
        entry: npm audit
        always_run: true
        exclude: ".*"
        verbose: true
