include LICENSE
include README.rst
exclude course_flow/tests/*
exclude course_flow/test*.py
exclude course_flow/settings.py
exclude course_flow/static/course_flow/js/scripts.js
exclude course_flow/static/course_flow/template/registration/*
