[build-system]
requires = [ "setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{36,37,38}-django2_2

[testenv]
setenv =
  PIP_INDEX_URL = https://pypi.python.org/simple
deps =
  pytest-django
  selenium
  git+https://github.com/SALTISES4/django-lti-tool-provider@dev#egg=django_lti_tool_provider
commands = python -m pytest {posargs}
"""

[tool.black]
line_length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
/)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 79
