html {
  height: 100%;
}
body {
  background-color: #1976BC;
  height: 100%;


}

.strategy-section{
  height: 100%;
}
#detail-workspace{
  height: 100%;
}
.node-section {
  width: 20%;
  background-color: #54C0DB;
  display: inline-block;
  height: 15vh;
  margin: 3%;
}
#outside-class-activity-section {

}
#teacher-class-activity-section {

}
#student-class-activity-section {

}
.topnav {
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    color: #1976bc;
    background: white;
}
.title {
    padding-left: 20px;
    position: absolute;
    bottom: 5px;
}
.titlebar {
    background: rgb(25,118,188);
    display: block;
    height: 50px;
    width: 100%;
    color: white;
    position: relative;
}
.menubar {
    display: block;
    height: 50px;
    width: 100%;
    font-family: 'Open Sans',sans-serif;
}
.topnavimage {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    height: 100%;
    padding-left: 20px;
    padding-right: 100px;
}
.topdropwrapper {
    display: inline-block;
    padding: 0px;
    bottom: 0px;
    vertical-align: top;
}
.topdropbutton {
    background: inherit;
    color: rgb(25,118,188);
    border: inherit;
    font: inherit;
    height: 48px;
    left: 0;
    bottom: 0;
    min-width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}
.topdropdiv {
    display: none;
    position: absolute;
    border: 1px solid grey;
    border-top: 1px solid black;
    color: black;
    background: white;
    min-width: 100px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}
.topdropdiv a {
    float: none;
    display: block;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}
.shortcut {
    color: gray;
    text-align: right;
    position: absolute;
    right: 12px;
}
.topdropdiv a div {
    display: inline-block;
}
.topnavimage * {
    display: block;
    height: 100%;
}


/* The popup form - hidden by default */
.form-popup {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
