
#site{
    background:#EEEEEE;
}

p{
    color:black;
}

.body-wrapper{
    text-align:center;
}

.workflow-wrapper{
    position:relative;
    display:inline-block;
    white-space:nowrap;
    text-align:left;
}

.workflow-container{
    position:relative;
    background:white;
    display:inline-block;
    overflow:visible;
    margin:40px;
    margin-right:100px;
    margin-left:100px;
    background:white;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    padding:20px;
}

.strategy{
    background:#efefef;
    min-height:200px;
    padding:10px;
    margin-top:5px;
    box-sizing:border-box;
}

.strategy-workflow.dragging{
    height:100px !important;
    overflow:hidden;
}

.strategy-workflow.dragging .node-block{
    visibility:hidden;
}

.strategy-block{
    width:100%;
    padding-left:30px;
    padding-right:30px;
    box-sizing:border-box;
}

.strategy:first-of-type{
    margin-top:20px;
}

.strategy-block > div:nth-of-type(odd) > .strategy{
    background: #e0e0e0e0;
}

.column-workflow{
    display:inline-block;
}

.column{
    padding:5px;
    width:200px;
    white-space:normal;
    text-align:center;
    vertical-align:top;
    overflow:hidden;
}

.column-row{
    padding-left:30px;
    padding-right:30px;
    background:white;
    position:sticky;
    top:0px;
    z-index:2;
    font-size:16px;
    font-family:sans-serif;
}

.node-strategy{
    width:100%;
    display:block;
    min-height:50px;
    margin-top:30px;
    position:relative;
}

.node-strategy.dragging .node{
    position:relative;
}

.node-block{
    min-height:100px;
}


.node{
    width:200px;
    border:solid 1px black;
    position:absolute;
    overflow:hidden;
    white-space:normal;
}

.workflow-canvas{
    position:absolute;
    left:0px;
    top:0px;
    pointer-events:none;
}

.workflow-canvas circle, .workflow-canvas path.nodelink{
    pointer-events:auto;
}

.workflow-canvas.dragging-strategyworkflow{
    opacity:0;
}

.node input{
    width:100px;
}

.right-panel-container{
    position:fixed;
    overflow:hidden;
    right:8px;
    top:102px;
    float:right;
    box-shadow: -1px 0px 3px -1px;
    width:240px;
    bottom:0px;
    background:white;
}

.node-bar-container{
    z-index:4;
}

.edit-bar-container{
    z-index:5;
}

.right-panel-inner{
    display:inline;
    overflow-x:hidden;
    overflow-y:auto;
    display:inline-block;
    padding:20px;
    box-sizing:border-box;
    width:100%;
    height:100%;
}

.node-bar-column-workflow{
    width:100%;
    display:block;
    margin:2px;
}

.node-bar-column-workflow .ui-sortable-placeholder{
    display:none;
}

.node-bar-column{
    height:40px;
    width:100%;
    border:1px solid black;
    padding:10px;
    box-sizing:border-box;
}

.selected{
    outline: 3px dotted lime;
}


