
#site{
    background:#EEEEEE;
}

p{
    color:black;
}

.workflow-wrapper{
    position:relative;
    display:inline-block;
    white-space:nowrap;
    text-align:left;
}

.workflow-container{
    position:relative;
    background:white;
    display:inline-block;
    overflow:visible;
    margin:40px;
    margin-right:200px;
    background:white;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    padding:20px;
    user-select:none;
}

.workflow-details{
    padding:30px;
}

.strategy{
    background:#efefef;
    min-height:200px;
    padding:10px;
    margin-top:5px;
    box-sizing:border-box;
    position:relative;
}

.strategy-workflow.dragging{
    height:100px !important;
    overflow:hidden;
}

.strategy-workflow.dragging .node-block{
    visibility:hidden;
}

.strategy-block{
    width:100%;
    padding-left:30px;
    padding-right:30px;
    box-sizing:border-box;
}

.strategy:first-of-type{
    margin-top:20px;
}

.strategy-block > div:nth-of-type(odd) > .strategy{
    background: #e0e0e0e0;
}

.column-workflow{
    display:inline-block;
}

.column{
    padding:5px;
    width:200px;
    white-space:normal;
    text-align:center;
    vertical-align:top;
    overflow:hidden;
}

.column-row{
    padding-left:30px;
    padding-right:30px;
    background:white;
    position:sticky;
    top:0px;
    z-index:2;
    font-size:16px;
    font-family:sans-serif;
}

.node-strategy{
    width:100%;
    display:block;
    min-height:50px;
    margin-top:30px;
    position:relative;
}

.node-strategy.dragging .node{
    position:relative;
}

.node-block{
    min-height:100px;
}


.node{
    width:200px;
    border:solid 1px black;
    position:relative;
    overflow:hidden;
    white-space:normal;
    border-radius:5px;
}

.node-top-row{
    background:white;
    margin-top:5px;
    width:100%;
}

.node-icon{
    display:inline-block;
    width:15%;
}

.node.program .node-icon{
    width:0;
}

.node-title{
    display:inline-block;
    width:70%;
    text-align: center;
    min-height:20px;
    font-weight:600;
    box-sizing:border-box;
}

.node.program .node-title{
    width:100%;
}

.node-details{
    width:100%;
    background:white;
    display:none;
    padding:5px;
}

.node-details default-text{
    font-style:italic;
    color:grey;
}

.node.dropped .node-details{
    display:block
}

.node-drop-row{
    width:100%;
    height:16px;
    background:white;
    border-radius:5px;
}

.mouseover-actions{
    visibility:hidden;
    position:absolute;
    top:-1px;
    right:-1px;
    border-radius:5px;
    padding:2px;
}

div:hover > .mouseover-actions{
    visibility:visible;
}

.workflow-canvas{
    position:absolute;
    left:0px;
    top:0px;
    pointer-events:none;
}

.workflow-canvas circle, .workflow-canvas path.nodelink{
    pointer-events:auto;
}

.workflow-canvas.creating-node-link circle[data-port-type='target']{
    visibility:visible;
}

.workflow-canvas circle{
    visibility:hidden;
}

circle.mouseover{
    visibility:visible;
}

.workflow-canvas.dragging-strategyworkflow{
    opacity:0;
}

.node input{
    width:100px;
}

.right-panel-container{
    position:fixed;
    overflow:hidden;
    right:8px;
    top:102px;
    float:right;
    box-shadow: -1px 0px 3px -1px;
    width:240px;
    bottom:0px;
    background:white;
}

.node-bar-container{
    z-index:4;
}

.edit-bar-container{
    z-index:5;
}

.right-panel-inner{
    display:inline;
    overflow-x:hidden;
    overflow-y:auto;
    display:inline-block;
    padding:20px;
    box-sizing:border-box;
    width:100%;
    height:100%;
}

.node-bar-column-workflow{
    width:100%;
    display:block;
    margin:2px;
}

.node-bar-column-workflow .ui-sortable-placeholder{
    display:none;
}

.node-bar-column{
    height:40px;
    width:100%;
    border:1px solid black;
    padding:10px;
    box-sizing:border-box;
}

.workflow-wrapper .selected{
    outline: 3px dotted lime;
}

.workflow-for-menu.selected{
    color:white;
    background:#1976bc;
}

#popup-container{
    position:absolute;
    width:100%;
    height:100%;
    pointer-events:none;
    z-index:10;
}

.screen-barrier{
    width:100%;
    height:100%;
    background:rgba(100,100,100,0.5);
    pointer-events:all;
}

.message-box{
    background:white;
    left:10%;
    top:10%;
    width:80%;
    height:80%;
    position:absolute;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.workflow-for-menu{
    background-color:white;
    margin-bottom:8px;
    padding:10px;
    color:#1976bc;
    border-radius:10px;
    border:2px solid #1976bc;
}

.workflow-description{
    font-size:16px;
}

.workflow-created{
    font-size:14px;
    margin-bottom:6px;
}

.workflow-title{
    font-weight:600;
    font-size:18px;
    margin-bottom:6px;
}

.message-wrap{
    width:100%;
    height:100%;
}

.message-panel{
    width:50%;
    text-align:left;
    box-sizing: border-box;
    display:inline-block;
    background:white;
    height:100%;
    padding:20px;
    overflow:auto;
    vertical-align:top;
}

.action-bar{
    display:inline-block;
    width:100%;
    left:0%;
    bottom:0%;
    position:absolute;
}



