
#site{
    background:#EEEEEE;
}

p{
    color:black;
}

.body-wrapper{
    text-align:center;
    top:100px;
    width:100%;
    height:calc(100% - 100px);
    overflow:auto;
    position:absolute;
}

.workflow-wrapper{
    position:relative;
    display:inline-block;
    white-space:nowrap;
    text-align:left;
}

.workflow-container{
    position:relative;
    background:white;
    display:inline-block;
    overflow:visible;
    margin:40px;
    margin-right:100px;
    margin-left:100px;
    background:white;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    padding:20px;
}

.strategy{
    background:#efefef;
    min-height:400px;
    padding:10px;
    margin-top:5px;
    box-sizing:border-box;
}

.strategy-block{
    width:100%;
}

.strategy:first-of-type{
    margin-top:20px;
}

.strategy-block > div:nth-of-type(odd){
    background: #e0e0e0e0;
}

.column-workflow{
    display:inline-block;
}

.column{
    padding:5px;
    width:160px;
    white-space:normal;
    text-align:center;
    vertical-align:top;
    overflow:hidden;
}

.column-row{
    background:white;
    position:sticky;
    top:0px;
    z-index:1;
    font-size:16px;
    font-family:sans-serif;
}