{% load static i18n %} {% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{% block metadescription %}{% endblock %}"
    />
    <meta name="theme-color" content="#1976BC" />

    <!-- External resources -->
    <!-- * Fonts and icons -->
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Roboto|Fanwood+Text:400i|Quicksand:300,400|Rubik:200,300,300i,400"
      rel="stylesheet"
      type="text/css"
    />

    <!-- * Scripts -->
    <!-- ** Preloads -->
    <link
      rel="preload"
      href="https://cdn.polyfill.io/v2/polyfill.min.js"
      as="script"
    />
    <link rel="preload" href="https://d3js.org/d3.v4.min.js" as="script" />
    <!-- ** jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- ** Polyfills for non-awesome browsers-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <!-- ** d3 -->
    <script src="https://d3js.org/d3.v4.min.js" defer="true"></script>

    <!-- Internal resources -->
    <!-- * CSS -->
    <link
      rel="stylesheet"
      href="{% static 'course_flow_creation_distribution/css/base_style.css' %}"
    />
    <script src=""></script>

    {% block head %}{% endblock %}
  </head>

  <body id="site">
    <div id="detail-workspace">
      {% for link in strategy_activity_links %}
      <div class="strategy-section">
        {% for node_link in node_strategy_links %}
        <!-- External resources -->
        {% if node_link.node in link.strategy.nodes.all %}
        <div
          id="outside-class-activity-section"
          class="node-section {% if node_link.node.node_classification == null %}selected{% endif %}"
        >
          <div>
            {{ node_link.node.title }}
          </div>
          <div>
            {{ node_link.node.description }}
          </div>
        </div>

        <div
          id="teacher-class-activity-section"
          class="node-section {% if node_link.node.node_classification == null %}selected{% endif %}"
        >
          <div>
            {{ node_link.node.title }}
          </div>
          <div>
            {{ node_link.node.description }}
          </div>
        </div>
        <div
          id="student-class-activity-section"
          class="node-section {% if node_link.node.node_classification == null %}selected{% endif %}"
        >
          <div>
            {{ node_link.node.title }}
          </div>
          <div>
            {{ node_link.node.description }}
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endfor %}
    </div>

    <footer></footer>

    {% block scripts %} {% endblock %}
  </body>
</html>
