{% load static %}
<style>
  body {
    background-color: #1976bc;
  }
  .create-button {
    transform: translateY(10px);
  }
  img {
    height: 35px;
  }
  .mdc-card {
    background-color: white;
    margin-bottom: 10px;
    padding: 20px 20px 12px;
    border-radius: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    max-width: 400px;
  }
  .mdc-typography--title {
    font-family: "Montserrat", serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: inherit;
    text-transform: inherit;
    font-weight: bold;
  }
  .mdc-typography--caption {
    font-family: "Montserrat", serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-decoration: inherit;
    text-transform: inherit;
  }
  .mdc-typography--body1 {
    font-size: 16px;
    letter-spacing: 0em;
    font-family: "Montserrat", serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-decoration: inherit;
    text-transform: inherit;
  }
  .mdc-card__actions {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 52px;
    padding: 8px;
  }
  .mdc-card__action-buttons,
  .mdc-card__action-icons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
  }
  .mdc-card__action-icons {
    margin-left: auto;
    margin-right: 0;
  }
</style>

<h1 id="header">Homepage</h1>

<h2>
  Programs
  <a href="{% url 'program-create' %}"
    ><img
      class="create-button"
      src="{% static 'course_flow_creation_distribution/img/add-square-button.svg' %}"
  /></a>
</h2>
<br />
{% for program in programs %}

<div class="mdc-card" id="card">
  <div class="mdc-typography--title">{{ program.title }}</div>
  <div class="mdc-typography--caption">
    {% if program.author %}Created by {{ program.author.username }}{% endif %}
  </div>
  <div class="mdc-typography--body1">{{ program.description }}</div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <div class="mdc-typography--caption caption">
        <div>Published on {{ program.created_on }}</div>
      </div>
    </div>
    <div class="mdc-card__action-icons">
      {% if user.pk is program.author.pk %}
      <!-- -->
      <a href="{% url 'program-update' pk=program.id %}">
        <!-- -->
        <img
          src="{% static 'course_flow_creation_distribution/img/pencil-blue.svg' %}"
        />
      </a>
      <!-- -->
      {% else %}
      <!-- -->
      <a href="{% url 'program-detail-view' pk=program.id %}"
        ><img
          src="{% static 'course_flow_creation_distribution/img/pageview-24px.svg' %}"
      /></a>
      <!-- -->
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
<!-- -->
<h2>
  Courses
  <a href="{% url 'course-create' %}"
    ><img
      class="create-button"
      src="{% static 'course_flow_creation_distribution/img/add-square-button.svg' %}"
  /></a>
</h2>
<br />
{% for course in courses %}

<div class="mdc-card" id="card">
  <div class="mdc-typography--title">{{ course.title }}</div>
  <div class="mdc-typography--caption">
    {% if course.author %}Created by {{ course.author.username }}{% endif %}
  </div>
  <div class="mdc-typography--body1">{{ course.description }}</div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <div class="mdc-typography--caption caption">
        <div>Published on {{ course.created_on }}</div>
      </div>
    </div>
    <div class="mdc-card__action-icons">
      {% if user.pk is course.author.pk %}
      <!-- -->
      <a href="{% url 'course-update' pk=course.id %}">
        <!-- -->
        <img
          src="{% static 'course_flow_creation_distribution/img/pencil-blue.svg' %}"
        />
      </a>
      <!-- -->
      {% else %}
      <!-- -->
      <a href="{% url 'course-detail-view' pk=course.id %}"
        ><img
          src="{% static 'course_flow_creation_distribution/img/pageview-24px.svg' %}"
      /></a>
      <!-- -->
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
<!-- -->
<h2>
  Activities
  <a href="{% url 'activity-create' %}"
    ><img
      class="create-button"
      src="{% static 'course_flow_creation_distribution/img/add-square-button.svg' %}"
  /></a>
</h2>
<br />
{% for activity in activities %}

<div class="mdc-card" id="card">
  <div class="mdc-typography--title">{{ activity.title }}</div>
  <div class="mdc-typography--caption">
    {% if activity.author %}Created by {{ activity.author.username }}{% endif %}
  </div>
  <div class="mdc-typography--body1">{{ activity.description }}</div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <div class="mdc-typography--caption caption">
        <div>Published on {{ activity.created_on }}</div>
      </div>
    </div>
    <div class="mdc-card__action-icons">
      {% if user.pk is activity.author.pk %}
      <!-- -->
      <a href="{% url 'activity-update' pk=activity.id %}">
        <!-- -->
        <img
          src="{% static 'course_flow_creation_distribution/img/pencil-blue.svg' %}"
        />
      </a>
      <!-- -->
      {% else %}
      <!-- -->
      <a href="{% url 'activity-detail-view' pk=activity.id %}"
        ><img
          src="{% static 'course_flow_creation_distribution/img/pageview-24px.svg' %}"
      /></a>
      <!-- -->
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
