version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7-node-browsers
    steps:
      - checkout
      - run:
          name: Build
          command: |
            python3 -m venv test_venv
            . test_venv/bin/activate
            pip install -r requirements/requirements.txt
            npm install
            npm run gulp build-js
      - run:
          name: Tests
          command: |
            . test_venv/bin/activate
            python3 course_flow.py migrate
            python3 -m pytest
