# notes: CCI manages the virtual envs for us

version: 2.1
executors:
  python_node:
    docker:
      - image: cimg/python:3.9.0
      - image: circleci/redis:5.0
    working_directory: ~/repo

jobs:
  build-node:
    docker:
      - image: circleci/node:18.15
    steps:
      - checkout
      - run:
          name: Install Yarn
          command: |
            npm install -g yarn
            yarn install
            yarn build-js
      - persist_to_workspace:
          root: ~/repo
          paths:
            - node_modules
            - build

  install-pip-requirements:
    executor: python_node
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run:
          name: Install Pip Requirements
          command: pip install -r requirements/requirements.txt

  run-tests:
    executor: python_node
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run:
          name: Run Tests
          command: pytest

  package-app:
    executor: python_node
    steps:
      - checkout
      - run:
          name: Package Application
          command: python -m build
      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist

  upload-to-pypi:
    executor: python_node
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run:
          name: Upload to PyPI
          command: twine upload --repository-url https://test.pypi.org/legacy/ dist/*  --non-interactive

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build-node
      - install-pip-requirements:
          requires:
            - build-node
          filters:
            branches:
              only:
                - staging
                - master
      - run-tests:
          requires:
            - install-pip-requirements
          filters:
            branches:
              only:
                - staging
                - master
      - package-app:
          requires:
            - run-tests
          filters:
            branches:
              only:
                - staging
                - master
      - upload-to-pypi:
          requires:
            - package-app
          filters:
            branches:
              only:
                - staging
                - master
