{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block title %}Create an Account{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block body %}
<svg width="500" height="150">
  <defs>
    <filter id="selection-shadow">
      <feDropShadow dx="1" dy="1" stdDeviation="2" />
    </filter>
  </defs>
</svg>
<h2>Login</h2>
<a href="{% url 'course-flow-registration' %}">Don't Have An Account?</a>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Login</button>
</form>
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block scripts %} {% endblock %}
