{% extends "course_flow/base.html" %}
<!-- -->
{% load static i18n %}
<!-- -->
{% block header %}{% endblock %}
<!-- -->
{% block title %}
  {%if title != "" %}
    {{ title }}
  {% else %}
    {% trans "Untitled" %}
  {% endif %}
  - CourseFlow
{% endblock %}
<!-- -->
{% block metadescription %} {% endblock %}
<!-- -->
{% block body %}
<!-- -->
{% endblock %}
<!-- -->
{% block foot %} {% endblock %}
<!-- -->
{% csrf_token %}
<!-- -->
{% block read_only_scripts %}

{% endblock %}
<!-- -->
{% block scripts %} {{ block.super }}
  <script nonce="{{ request.csp_nonce }}">
    $(".menubar").removeClass("hidden");

    window.create_path_this_project =  {
       activity: "{% url 'course_flow:activity-create' projectPk=object.pk %}",
       course: "{% url 'course_flow:course-create' projectPk=object.pk %}",
       program: "{% url 'course_flow:program-create' projectPk=object.pk %}"
      }

    /**
     *
     * disciplines: Discipline[
     * project_data: Project[]
     * user_permission: num
     * user_role: num
     *
     */
    contextData  = {{ contextData | safe }};
    console.log(contextData)
    contextData = {
      ...contextData,
      user_id: {{ user.id | default:0}} // @todo, this shouldn't come from global, it should come from the view controller
    }

    window.addEventListener("load", function () {
      const library_renderer = new library_renderers.ProjectRenderer(contextData);
      $(document).ajaxError(window.renderers.fail_function);
      library_renderer.render($("#container"));
      makeActiveSidebar("#project" + contextData.project_data.id);
    });
  </script>
{% endblock %}
