asgiref==3.2.3
bleach
Django<3.0.0
django-csp
django-filter
djangorestframework>=3.10.3
zipp==0.6.0
django-compressor>=2.3
django-model-utils
django-debug-toolbar
SALTISE_user_feedback
pandas
openpyxl

black
pre-commit
isort
Markdown==3.1.1
pytest-cov
pytest-django
safety
selenium
tox
twine

-e file:./#egg=saltise_course_flow

-e git+https://github.com/SALTISES4/django-lti-tool-provider@dev#egg=django_lti_tool_provider
