black
django-debug-toolbar
isort
pre-commit
pytest-cov
pytest-django
safety
selenium
tox
twine

-e file:./#egg=saltise_course_flow

-e git+https://github.com/SALTISES4/django-lti-tool-provider@dev#egg=django_lti_tool_provider
